* {
    box-sizing: border-box;
    letter-spacing: -0.05em;
}


a {
    color: black;
}

#wrap {
    height: 100% !important;
    width: 100% !important;
}

/*  */

#content_wrap {
    width: 502px;
    height: 320px;
    border: 1px solid rgb(145, 111, 111);
    position:relative;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 0 auto;
    top: 250px !important;
}

#profile_wrap {
    width: 500px;
    height: 200px;
    position:relative;
    float:left;
}

#button_wrap {
    width: 500px;
    height: 108px;
    position:relative;
    float:left;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

/* profile */

#profile {
    margin: 0 auto;
    position: relative;
    text-align: left;
    display:flex;
    justify-content: center;
}

#userimg {
    padding: 40px 0 0 20px;
    width: 170px;
    height:200px;
    display:inline-block;
}

#userimg > img {
    border-radius: 65px;
    margin-left: 20px;
    margin-top: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
}

#profile > ul {
    width: 320px;
    height: 200px;
    margin: auto 0;
    padding: 70px 0 0 60px;
    font-size:12px;
}

#profile > ul > li {
    margin: 5px 0 5px 0;
}

.info {
    width: 46px;
    display:inline-block;
}

.col {
    margin-right: 2px;
    display:inline-block;
}


/*  profile_right  */

#profile_right {
    padding: 0px 20px 0 20px;
    margin-bottom: 20px;
}

#profile_history{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px !important;
}

.history {
    margin: 5px 20px 5px 20px;
    padding:9px 9px 9px 9px;
    font-size: 13px;
    border: 1px solid #333;
    background: #333;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    color: #fff !important;
}

.history > span > a {
    color:#fff;
}


/* button */


.button > button {
    background: #333;
}

.button > form > button {
    background-color: #333;
}

.board {
    float: right;
    margin-left: 8px;
}

.modify {
    float: right;
    margin-left: 8px;
}

.delete {
    float: right;
    margin-left: 8px;
    margin-right: 8px;
}

.buttons {
    padding : 7px 12px 7px 12px;
    font-size: 7px;
    border: 0px;
    border-radius:5px;
    color:#fff;
}

#white_btn > a {
    color:#fff;
}