#us_cate1 {
    width:80%;
    height:800px;
    margin:200px auto 0;
}

#cate1_bduser {
    text-align: center;
    padding-bottom:50px;
    font-size:30px;
}

#profile_user{
    font-size:16px;
}

#profile_user > tr {
    height:60px;
    padding:5px;
    border-bottom: 1px solid #e2e2e2;
    font-size:20px;
}

#profile_user > tr > #tem_title {
    text-align:left;
    font-style:normal; 
}