
#welcome_wrap {
    margin: 150px auto;
    position: relative;
    width: 700px;
    height: 800px;
    border: 1px solid black;
    background: #eee;
}

#wel_back {
    background:white;
    margin: 75px;
    width: 550px;
    height: 650px;
}

#wel_back > div > img {
    width: 200px;
    margin: 100px 0px 0 175px;
}

#wel_nick {
    text-align:center;
    margin: 40px 0 10px 0px;
    font-size:28px;
}

.wel_text {
    margin: 8px;
    text-align: center;
    font-size: 16px;
}

#wel_button {
    display:flex;
    justify-content: center;
    margin: 34px 0 66px 0;
}

#wel_button > span {
    width: 150px;
    height: 50px;
    background: #333;
    border-radius: 5px;
    margin: 8px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    text-align: center;
    line-height: 50px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    
}

#wel_button > span > a {
    color:#fff;
    display:inline-block !important;
    width: 150px !important;
    height: 50px !important;
    font-size: 18px;
    line-height: 54px;
}

.wel_msg {
    font-size: 24px;
    text-align:center;
    margin: 0 0 6px 0;
}

.wel_enj {
    text-align:center;
    margin-bottom: 6px;
    font-size: 18px;
}

#wel_foot {
    margin : 20px 0 20px 0;
    padding-top: 10px;
    border-top: 2px solid #eee;
}

.wel_ftr {
    text-align: center;
    color:#ccc;
}

#wel_copy {
    font-size: 12px;
    margin: 5px 10px 30px 2px;
    color:#333;

}