<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <h1><a href='/'>logo</a></h1>
    <h2> QnA_리스트 </h2>
    <table>
        <tr>
            <td>idx</td>
            <td>title</td>
            <td>작성자</td>
            <td>작성일자</td>
            <td>hit</td>
        </tr>

        {% for item in qna_list %}
        <tr>
            <td>{{item.idx}}</td>
            <td><a href="/board/QnA_view?idx={{item.idx}}">{{item.title}}</a></td> 
            <td>{{item.userid}}</td> 
            <td>{{item.date}}</td>
            <td>{{item.hit}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>