<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:4000/api/admin/search" method="post">
        <input type="text" name="nickname" placeholder="찾는 회원 닉네임">
        <input type="submit" value="검색">
    </form>
    <div>
        <thead>
            <tr>
                <th>회원아이디</th>
                <th>회원 프로필 사진</th>
                <th>회원 성명</th>
                <th>닉네임</th>
                <th>주소</th>
                <th>성별</th>
                <th>집 전화번호</th>
                <th>휴대전화번호</th>
                <th>이메일</th>
                <th>자기소개</th>
                <th>유저등급</th>

            </tr>
        </thead>
        <tbody>

        </tbody>

        <template>
            <tr>
                <th>{idx}</th>
                <th>{userid}</th>
                <th>{userimg}</th>
                <th>{username}</th>
                <th>{nickname}</th>
                <th>{address}</th>
                <th>{gender}</th>
                <th>{phone}</th>
                <th>{mobile}</th>
                <th>{email}</th>
                <th>{userintro}</th>
                <th>{level}</th>
            </tr>
            <a href="/admin/user/update/{{idx}}">수정페이지로 이동</a>
        </template>
        
        
</body>
</html>