<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
//     fs.writeFile("./views/new.html", 'hi', (err) =>{
//   console.log(err);
// })
</script>
<body>
    <table>
        <thead>
            <h1>카테고리</h1>
            <!-- 로직: 1. 일단 db에 있는 카테고리 리스트를 가져와서 랜더한다.
            2. 그리고 마지막 줄에 카테고리 추가버튼을 넣는다.
            3. 추가를 누르면, 추가할 카테고리명, db명, 라우터주소를 정할 수 있다.
            4. 수정 시 카테명, db명, 라우터 다 변경 가능..
            5. 삭제 시 카테고리, db, 라우터 전부 삭제. -->

            <tr>
                <th>카테고리명</th>
                <th>DB명</th>
                <th>라우터주소</th>
            </tr>
        </thead>
        <tbody id="category_list">

        </tbody>
    </table>

    <template id="db_category">
        <tr>
            <th>{category}</th>
            <th>{DB}</th>
            <th>{router}</th>
            <th><button>수정</button></th>
            <th><button>삭제</button></th>
        </tr>
    </template>

    <template id="db cate_add">
        <h3>카테고리 추가</h3>
        <form method="post" action="http://localhost:4000/api/admin/category">
            <strong>추가할 카테고리명</strong><input type="text">
            <strong>DB 명</strong><input type="text">
            <strong>라우터 주소</strong><input type="router">
            <input type="submit" value="추가하기">
        </form>
    </template>
    
</body>
</html>