<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async()=>{

        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }

        const response = await axios.post('http://localhost:4000/api/admin/userlist',null, option)
        const user = response.data.result
        let user_list = document.querySelector('#user_list')
        const user_temp = document.querySelector('#user_temp').innerHTML
        let template = ''
        let idx = 1
        const promise = user.forEach(async e => {
            const {idx, userid,username,userimg,nickname,address,gender,phone,mobile,email,userintro, level} = e

            template += user_temp.replace('{idx}', idx)
                                .replaceAll('{nickname}',nickname)
                                .replaceAll('{userid}',userid)
                                .replace('{username}',username)
                                .replace('{userimg}',userimg)
                                .replace('{nickname}',nickname)
                                .replace('{address}',address)
                                .replace('{gender}',gender)
                                .replace('{phone}',phone)
                                .replace('{mobile}',mobile)
                                .replace('{email}',email)
                                .replace('{userintro}',userintro)
                                .replaceAll('{level}', level)
            
        });
        await promise;
        console.log(template)
        
        user_list.innerHTML = template
        // const userlevel_promise = 
        user.forEach(e=>{
            const {userid} = e
            const user_level = document.querySelector(`#level_${userid}`);
            const useridLevel1 = document.querySelector(`#level1_${userid}`);
            const useridLevel2 = document.querySelector(`#level2_${userid}`);
            const useridLevel3 = document.querySelector(`#level3_${userid}`);
            if (user_level.value == 1) useridLevel1.checked = true;
            else if (user_level.value == 2) useridLevel2.checked = true;
            else useridLevel3.checked = true;
        }) 
            
        //유저 검색

        const search_userlist = []
        let search_beforeData = {}
        search_beforeData.userid = []
        search_beforeData.level = []
        search_beforeData.nickname = []
        frm_search.addEventListener('submit', async (e)=>{
            
            const frm_search = document.querySelector('#frm_search')//폼
            const user_search = document.querySelector('#user_search')//서밋 버튼
      
            e.preventDefault()
            user_search.value='로딩중~~'
            user_search.disabled = true
            

            const body = {
                nickname:nickname.value
            }

            const option = {
                'Content-type':'application/json',
                withCredentials: true
            }

            try {
                const response = await axios.post('http://localhost:4000/api/admin/usersearch', body, option)
                console.log(response.data)
                const searchedUser = response.data.result
                console.log("이거임",searchedUser)
                if(response.data.errno ==="none"){
                    template = ''
                    user_list.innerHTML = ''

                    const promise2 = searchedUser.forEach(async e=>{
                        search_userlist.push(e)
                        const {idx, userid,username,userimg,nickname,address,gender,phone,mobile,email,userintro, level} = e
                        template += user_temp.replace('{idx}', idx)
                                        .replaceAll('{nickname}',nickname)
                                        .replaceAll('{userid}',userid)
                                        .replace('{username}',username)
                                        .replace('{userimg}',userimg)
                                        .replaceAll('{nickname}',nickname)
                                        .replace('{address}',address)
                                        .replace('{gender}',gender)
                                        .replace('{phone}',phone)
                                        .replace('{mobile}',mobile)
                                        .replace('{email}',email)
                                        .replace('{userintro}',userintro)
                                        .replaceAll('{level}', level)
 
                    })
                    await promise2;
                    console.log(template)
                    user_list.innerHTML = template

                    searchedUser.forEach(async e=>{
                        const {userid, nickname, level} = e
                        const user_level = document.querySelector(`#level_${userid}`);
                        const useridLevel1 = document.querySelector(`#level1_${userid}`);
                        const useridLevel2 = document.querySelector(`#level2_${userid}`);
                        const useridLevel3 = document.querySelector(`#level3_${userid}`);
                        console.log(user_level)
                        if (user_level.value == 1) useridLevel1.checked = true;
                        else if (user_level.value == 2) useridLevel2.checked = true;
                        else useridLevel3.checked = true;

                        search_beforeData.userid.push(userid)
                        search_beforeData.level.push(user_level.value)
                        search_beforeData.nickname.push(nickname)
                    })

                    await console.log('현재 검색 객체', search_beforeData)
                    user_search.value='검색'
                    user_search.disabled = false
                    
                } 
            }
            catch (e) {
                alert(e.message)
            }
            
        })

        const frm_update = document.querySelector('#forced_userupdate')
        const update_btn = document.querySelector('#update_btn')
        //이전데이터
        let beforeData = {}
        beforeData.userid = []
        beforeData.level = []
        beforeData.nickname = []
        user.forEach(async(e)=>{
            const {userid, nickname, level} = e
            const before_data = document.querySelector(`#level_${userid}`)
            beforeData.userid.push(userid)
            beforeData.level.push(before_data.value)
            beforeData.nickname.push(nickname)
        

        })
        await console.log(beforeData)
        frm_update.addEventListener('submit', async (e)=>{
            e.preventDefault()
            update_btn.value='로딩중~~'
            update_btn.disabled = true
            let currentData = {};
            currentData.level = [];
            currentData.userid = [];
            currentData.nickname = [];
            console.log("유저의길이",user.length)
            console.log("검색유저의길이", search_userlist.length)
            const alltrElement = document.getElementsByTagName("tr").length-1 //검색된 or 전체 user수
            if(user.length == alltrElement){
                user.forEach(async (e)=>{ //검색안했을 때 수정
                const {userid, nickname} = e

                const user_level = document.querySelector(`#level_${userid}`);
                const useridLevel1 = document.querySelector(`#level1_${userid}`);
                const useridLevel2 = document.querySelector(`#level2_${userid}`);
                const useridLevel3 = document.querySelector(`#level3_${userid}`);
                const nicknameElement = document.querySelector(`#nickname_${userid}`)
                if (useridLevel1.checked === true) user_level.value = 1;
                else if (useridLevel2.checked === true) user_level.value = 2;
                else user_level.value = 3;
                
                currentData.level.push(user_level.value);
                currentData.userid.push(userid);
                currentData.nickname.push(nicknameElement.value);
                
                })

            } else{
                search_userlist.forEach(async (e)=>{ //검색 했을 때 수정
                const {userid, nickname} = e

                const user_level = document.querySelector(`#level_${userid}`);
                const useridLevel1 = document.querySelector(`#level1_${userid}`);
                const useridLevel2 = document.querySelector(`#level2_${userid}`);
                const useridLevel3 = document.querySelector(`#level3_${userid}`);
                const nicknameElement = document.querySelector(`#nickname_${userid}`)
                if (useridLevel1.checked === true) user_level.value = 1;
                else if (useridLevel2.checked === true) user_level.value = 2;
                else user_level.value = 3;
                currentData.level.push(user_level.value);
                currentData.userid.push(userid);
                currentData.nickname.push(nicknameElement.value);

                })
            }
            const body = {
                search_beforeData,
                beforeData,
                currentData
            }
            
            await console.log(body)
            

            console.log(body)

            const option = {
                'Content-type':'application/json',
                withCredentials: true
            }
            const response = await axios.post('http://localhost:4000/api/admin/userupdate', body, option)
            console.log(response.data)
            if(response.data.result == "success"){
                alert('관리자권한 강제 수정 완료')

            } else if(response.data.errno == 1062){
                alert('중복된 아이디')
                
            }
            update_btn.value = '수정'
            update_btn.disabled = false

        })
        
    })
    </script>
</head>
<body>
    
    <h1>Ting Talk 회원 관리</h1>
    <form method="post" action="http://localhost:4000/api/admin/usersearch" id="frm_search">
    <span>
        찾을 회원 닉네임 :
    </span>
    <span>
        <input type="text" name="nickname" id="nickname">
    </span>
    <span>
        <input type="submit" name="user_search" id="user_search" value="검색">
    </span>
    
    </form>
    <h2>회원 목록</h2>
    <table width="100%" border="1">
        <form id="forced_userupdate" action="http://localhost:4000/api/admin/userupdate" method="post">
            <input type="submit" value="수정" id="update_btn">
        </form>
        <thead>
            <tr>
                <th>idx</th>
                <th>회원아이디</th>
                <th>회원 프로필 사진</th>
                <th>회원 성명</th>
                <th>닉네임</th>
                <th>주소</th>
                <th>성별</th>
                <th>집 전화번호</th>
                <th>휴대전화번호</th>
                <th>이메일</th>
                <th>자기소개</th>
                <th>유저등급</th>
                <th>사용 허가</th>

            </tr>
        </thead>

        <tbody id="user_list">

        </tbody>
    
    </table>

    <template id="user_temp">
        <tr>
            <th>{idx}</th>
            <th>{userid}</th>
            <th>{userimg}</th>
            <th>{username}</th>
            <th><input type="text" id="nickname_{userid}" name="nickname_{userid}" value="{nickname}"></th>
            <th>{address}</th>
            <th>{gender}</th>
            <th>{phone}</th>
            <th>{mobile}</th>
            <th>{email}</th>
            <th>{userintro}</th>
            <th>
                <input type="hidden" name="level" id="level_{userid}" value="{level}">
                <input type="radio" name="level_{userid}" id="level1_{userid}" value=1><label for="level1_{userid}">1</label>
                <input type="radio" name="level_{userid}" id="level2_{userid}" value=2><label for="level2_{userid}">2</label>
                <input type="radio" name="level_{userid}" id="level3_{userid}" value=3><label for="level3_{userid}">3</label>
            </th>
            <th>사용 허가</th>
        </tr>
    </template>
</body>

</html>