#intro_wrap {
    width:100%;
    height:1500px;
}

#intro_logo {
    width:80%;
    height:120px;
    font-family: 'FF Signa Serif Stencil', 'Book';
    font-size:50px;
    margin:200px auto 0px;
}

#intro_text {
    width:100%;
    margin:0 auto;
}

#img_wrap {
    width:100%;
    height:780px;
}

#intro_img {
    display:block;
    position:absolute;
    width:1725px;
    height:600px;
    margin-left:190px;
}


#kg_text {
    width:80%;
    margin:0 auto;
}

#kg_text > h1 {
    position:relative;
    top:550px;
    padding-left:400px;
    font-family: 'FF Signa Serif Stencil', 'Book';
    font-weight:300;
    font-size:80px;
    /* line-height:100px; */
}

#kg_content {
    width:80%;
    padding-left:600px;
    height:500px;
    font-size:25px;
    color:#636363;
    line-height: 60px;
    font-weight:250;
}

#classroom {
    width:80%;
    height:100%;
    margin:0 auto;
}

#classtype {
    width:100%;
    display:flex;
    justify-content:left;
    padding-left:20px;
}

#classtype > h4 {
    width:100%;
    height:100%;
    font-family: 'FF Signa Serif Stencil', 'Book';
    font-size:50px;
    padding-bottom:20px;
    margin:0 auto;
}

#info_class {
    display:flex;
    justify-content: space-around;
}

#classroom > #info_class > li > img {
    width:340px;
    height:200px;
}
/* 블록체인 프로그래밍 기획 AR/VR */