<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1><a href="/">logo</a></h1>
    <form method = 'post' action="/" id="join_frm" enctype="multipart/form-data">
        <ul>
            <li>
                <span class="join_label">아이디</span>
                <span class="join_input">
                    <input type="text" name="userid" id="userid" value="{{userid}}">
                </span>

            </li>
            <li>
                <span class="join_label">패스워드</span>
                <span class="join_input">
                    <input type="text" name="userpw" id="userpw" value="">
                </span>
            </li>
            <li>
                <span class="join_label">프로필사진 </span>
                <span class="join_input">
                    <input type="file" name="userimg" id="userimg">
                    <!-- <input type="file" name="userimg2" id="userimg2">
                    <input type="file" name="userimg3" id="userimg3">
                    <input type="file" name="userimg4" id="userimg4">
                    <input type="file" name="userimg5" id="userimg5"> -->
                </span>
                <!-- 파일을 업로드해 submit 하면 서버에 저장하고 링크만 
                DB에 저장하고 사진을 렌더링하고 싶을때 img src의 값을 주는식으로
                구현할 예정?-->
            </li>
            <li>
                <span class="join_label">이름</span>
                <span class="join_input">
                    <input type="text" name="username" id="username" value="">
                </span>
            </li>
            <li>
                <span class="join_label">별명</span>
                <span class="join_input">
                    <input type="text" name="nickname" id="nickname" value="">
                </span>
            </li>
            <li>
                <span class="join_label">주소</span>
                <span class="join_input">
                    <input type="text" name="address" id="address" value="">
                </span>
            </li>
            <li>
                <span class="join_label">성별</span>
                <span class="join_input">
                    <input type="radio" name="gender" value="남자" id="gender1" checked> <label for="gender1">남자</label>
                    <input type="radio" name="gender" value="여자" id="gender2" > <label for="gender2">여자</label>
                </span>
            </li>
            <li>
                <span class="join_label">전화번호</span>
                <span class="join_input">
                    <input type="text" name="phone" id="phone" value="">
                </span>
            </li>
            <li>
                <span class="join_label">핸드폰</span>
                <span class="join_input">
                    <input type="text" name="mobile" id="mobile" value="">
                </span>
            </li>
            <li>
                <span class="join_label">이메일</span>
                <span class="join_input">
                    <input type="text" name="email" id="email" value="{{email}}">
                </span>
            </li>
            <li>
                <span class="join_label">자기소개</span>
                <span class="join_input">
                    <input type="text" name="userintro" id="userintro" value="">
                </span>
            </li>
            <li>
                <label for="agree_all" style="display:block;">
                    <input type="checkbox" name="agree_all" id="agree_all">
                    <span>모두 동의합니다</span>
                </label>
                  <label for="agree" style="display:block;" >
                    <input type="checkbox" name="agree" value="1">
                    <span>이용약관 동의<strong>(필수)</strong></span>
                  </label>
                  <label for="agree" style="display:block;">
                    <input type="checkbox" name="agree" value="2">
                    <span>개인정보 수집, 이용 동의<strong>(필수)</strong></span>
                  </label>
                  <label for="agree" style="display:block;">
                    <input type="checkbox" name="agree" value="3">
                    <span>개인정보 이용 동의<strong>(필수)</strong></span>
                  </label>
            </li>
            <!-- <li>
                <span> 약관에 동의하십니까? </span>
                <input type="checkbox" checked>
            </li> -->
            <!-- script에 조건문써서 체크 안되면 동의해주세요 알람 띄우게-->
        </ul>
        <input type="submit" id="btn" value="회원가입">
    </form>
    <script type="text/javascript">
        // 1. submit 이벤트를 만들고 그이벤트를 막는 기능 
        
        const frm = document.querySelector('#join_frm')
       
        const agreeChkAll = document.querySelector('input[name=agree_all]')
        
        agreeChkAll.addEventListener('change', (d) => {
        let agreeChk = document.querySelectorAll('input[name=agree]')

        for(let i = 0; i < agreeChk.length; i++){
            agreeChk[i].checked = d.target.checked;
            }
        });

       
    
        frm.addEventListener('submit',async (e)=>{
            e.preventDefault()
            
            const {userid,userpw,username,nickname,address,gender,phone,mobile,email,userintro,userimg} = e.target

            const formData = new FormData()
            formData.append('userid',document.querySelector('#userid').value)
            formData.append('userpw',document.querySelector('#userpw').value)
            formData.append('userimg',userimg.files[0])
            formData.append('username',document.querySelector('#username').value)
            formData.append('nickname',document.querySelector('#nickname').value)
            formData.append('address',document.querySelector('#address').value)
            formData.append('gender',document.querySelector('input[name="gender"]:checked').value)
            formData.append('phone',document.querySelector('#phone').value)
            formData.append('mobile',document.querySelector('#mobile').value)
            formData.append('email',document.querySelector('#email').value)
            formData.append('userintro',document.querySelector('#userintro').value)

           
            const btn = document.querySelector('#btn')
            btn.value='로딩중~~'
            btn.disabled = true

            
            const option = { 
                'Content-type':'application/json',
                withCredentials:true,
            }   
            // // return ? promise 객체 
            // // async / await 
            if(!agreeChkAll.checked){
                alert('약관동의에 체크해주세요')
                btn.value='회원가입'
                btn.disabled = false
            } else{
                const response = await axios.post('http://localhost:4000/api/user/join',formData,option)
                if(response.data.errno === 0){ // 성공의 케이스 
                // 성공
                console.log('가입완료되었습니다.')
                console.log(response)
                location.href=`/user/welcome?nickname=${nickname.value}&userid=${userid.value}&username=${username.value}&email=${email.value}&mobile=${mobile.value}`
            } else { //
                // 실패

                if(response.data.errno === 1062){
                    if(response.data.errormsg.includes('user.userid')){
                        alert('중복 된 아이디 입니다. 다른 아이디를 입력해주세요.')
                    }
                    if(response.data.errormsg.includes('user.nickname')){
                        alert('중복 된 닉네임 입니다. 다른 닉네임을 사용해주세요.')
                    }
                    if(response.data.errormsg.includes('user.email')){
                        alert('이미 가입 된 이메일입니다.')
                    }
                }
                
                btn.value='회원가입'
                btn.disabled = false
            }
            }     
        })
    </script>

    <!-- 카카오 이용하는거 어떻게 하는 건지 공부 필요-->

    <!-- 사용해야 하는가 oauth2.0인지 그냥 ouath인지..
    이건 회원가입이 필요없다는데 왜 회원 가입 페이지가 필요할까..
    회원 가입 양식을 내 맘대로 정할수 있는건가?-->
</body>
</html>