<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1><a href="/">logo</a></h1>
    <form method="post" action="http://localhost:4001/api/user/login" id="login_frm">
        <ul>
            <li>
                <input type="text" name="userid" id="userid" placeholder="id 입력" value="lsj1994">
            </li>
            <li>
                <input type="text" name="userpw" id="userpw" placeholder="pw 입력" value="1234">
            </li>
        </ul>
        <input type="submit" value="로그인">
    </form>
    <!-- 카카오 로그인인데 이걸 어찌 하는지 모르겠음..
    html이 필요한가? 아니면 카카오에서 주는 페이지로 보내주면 되나?-->
    
</body>
</html>