{% extends 'utils/header.html' %}

{% block content %}
    <div id="update_wrap">
        <div id="update_form">
            <form method="post" id="update_frm" action="http://localhost:4000/api/user/update">
                <ul>
                    <li>
                        <h3>아이디</h3>
                        <span>
                            <input type="text" name="userid" id="userid" value="{{user.userid}}">
                        </span>
                    </li>
                    <li>
                        <h3>비밀번호</h3>
                        <span>
                            <input type="password" name="userpw" id="userpw" value="{{user.userpw}}">
                        </span>
                    </li>
                    <li class="update_image">
                        <h3>프로필사진</h3>
                        <span>
                            <input class="upload-name" value="이미지" placeholder="이미지">
                            <label for="userimg">파일찾기</label>
                            <input type="file" name="userimg" id="userimg">
                        </span>
                    </li>
                    <li>
                        <h3>닉네임</h3>
                        <span>
                            <input type="text" name="nickname" id="nickname" value="{{user.nickname}}">
                        </span>
                    </li>
                    <li>
                        <h3>주소</h3>
                        <span>
                            <input type="text" name="address" id="address" value="{{user.adress}}">
                        </span>
                    </li>
                    <li>
                        <h3>성별</h3>
                        <span>
                            <input type="text" name="gender" id="gender" value="{{user.gender}}">
                        </span>
                    </li>
                    <li>
                        <h3>전화번호</h3>
                        <span>
                            <input type="text" name="phone" id="phone" value="{{user.phone}}">
                        </span>
                    </li>
                    <li>
                        <h3>핸드폰번호</h3>
                        <span>
                            <input type="text" name="mobile" id="mobile" value="{{user.mobile}}">
                        </span>
                    </li>
                    <li>
                        <input type="submit" id="btn" value="수정">
                    </li>
                    <li>
                        <button id="profile_btn"><a href="/user/profile?nickname={{user.nickname}}">프로필</a></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        const frm = document.querySelector('#update_frm')
        frm.addEventListener('submit', async (e)=>{
            e.preventDefault()
            
            const btn = document.querySelector('#btn')
            btn.value='수정중~~'
            btn.disabled= true
            const {userid,userpw,userimg,nickname,address,phone,mobile,userintro,email} = e.target
            const formData = new FormData()
            formData.append('userid',document.querySelector('#userid').value)
            formData.append('userpw',document.querySelector('#userpw').value)
            formData.append('userimg',userimg.files[0])
            formData.append('nickname',document.querySelector('#nickname').value)
            formData.append('address',document.querySelector('#address').value)
            formData.append('phone',document.querySelector('#phone').value)
            formData.append('mobile',document.querySelector('#mobile').value)
            formData.append('email',document.querySelector('#email').value)
            formData.append('userintro',document.querySelector('#userintro').value)

            const option = {
                'Content-type':'application/json',
                withCredentials: true
            }

            const response = await axios.post('http://localhost:4000/api/user/update', formData, option)
        
            if(response.data.errno == 0){
                //성공
                alert('수정되었습니다.')
                location.href='http://localhost:3000'
            
            }else{
                //실패
                if(response.data.errno === 1062){
                    if(response.data.errormsg.includes('user.PRIMARY')){
                        alert('중복 된 아이디 입니다. 다른 아이디를 입력해주세요.')
                    }   
                    if(response.data.errormsg.includes('user.nickname')){
                        alert('중복 된 닉네임 입니다. 다른 닉네임을 사용해주세요.')
                    }
                    if(response.data.errormsg.includes('user.email')){
                        alert('이미 가입 된 이메일입니다.')
                    }
                }
                btn.value = '수정'
                btn.disabled = false
            }
        })
    </script>
{% endblock %}
