<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>
        회원 수정 페이지입니다
    </h1>
    <form method="post" id="update_frm" action="http://localhost:4000/api/user/update">
        <div>
            <table id="pf_table">
                <tbody class="tbody">
                    <tr>
                        <td> * 아이디 </td>
                        <td> {{user.userid}} </td>
                    </tr>
                    <tr>
                        <td> * 비밀번호 </td>
                        <td> <input type="password" name="userpw" value="{{user.userpw}}" id="userpw"> </td>
                    </tr>
                    <tr>
                        <td> * 프로필 사진 </td>
                        <td> <input type="file" name="userimg" value="{{user.userimg}}" id="userimg"> </td>
                    </tr>
                    <tr>
                        <td> * 닉네임 </td>
                        <td> <input type="text" name="nickname" value="{{user.nickname}}" id="nickname"> </td>
                    </tr>
                    <tr>
                        <td> * 주소 </td>
                        <td> <input type="text" name="address" value="{{user.address}}" id="address"> </td>
                    </tr>
                    <tr>
                        <td> * 성별 </td>
                        <td> {{user.gender}} </td>
                    </tr>
                    <tr>
                        <td> * 전화번호 </td>
                        <td> <input type="text" name="phone" value="{{user.phone}}" id="phone"> </td>
                    </tr>
                    <tr>
                        <td> * 핸드폰번호 </td>
                        <td> <input type="text" name="mobile" value="{{user.mobile}}" id="mobile"> </td>
                    </tr>
                </tbody>       
            </table>
        </div>
        <div>
            <input type="submit" value="수정하기">
        </div>
    </form>
    <div>
        <button><a href="/user/profile">프로필</a></button>
    </div>
    <script type="text/javascript">
        const frm = document.querySelector('#update_frm')
        frm.addEventListener('submit', async (e)=>{
            e.preventDefault()
            const userpw = document.querySelector('#userpw')
            const userimg = document.querySelector('#userimg')
            const nickname = document.querySelector('#nickname')
            const address = document.querySelector('#address')
            const phone = document.querySelector('#phone')
            const mobile = document.querySelector('#mobile')
            const data = {
                userpw: userpw.value,
                userimg: userimg.value,
                nickname: nickname.valeu,
                address: address.value,
                phone: phone.value,
                mobile: mobile.value
            }

            const option = {
                'Content-type':'application/json',
                withCredentials: true
            }

            const response = await axios.post('http://localhost:4000/api/user/update', data, option)

            if(response.data.errno === 0){
                location.href='/'
            } else {
                alert('다시 작성해주세요')
            }
        })
    </script>
</body>
</html>