<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>
        회원 수정 페이지입니다
    </h1>
    <form method="post" id="update_frm" action="http://localhost:4000/api/user/update">
        <div>
            <table id="pf_table">
                <tbody class="tbody">
                    <tr>
                        <td> * 아이디 </td>
                        <td> <input type="text" name="userid" value="{{user.userid}}" id="userid"> </td>
                    </tr>
                    <tr>
                        <td> * 비밀번호 </td>
                        <td> <input type="password" name="userpw" value="{{user.userpw}}" id="userpw"> </td>
                    </tr>
                    <tr>
                        <td> * 프로필 사진 </td>
                        <td> <input type="file" name="userimg" value="{{user.userimg}}" id="userimg"> </td>
                    </tr>
                    <tr>
                        <td> * 닉네임 </td>
                        <td> <input type="text" name="nickname" value="{{user.nickname}}" id="nickname"> </td>
                    </tr>
                    <tr>
                        <td> * 주소 </td>
                        <td> <input type="text" name="address" value="{{user.address}}" id="address"> </td>
                    </tr>
                    <tr>
                        <td> * 성별 </td>
                        <td> <input type="text" name="gender" value='남자' id="gender"> </td>
                    </tr>
                    <tr>
                        <td> * 전화번호 </td>
                        <td> <input type="text" name="phone" value="{{user.phone}}" id="phone"> </td>
                    </tr>
                    <tr>
                        <td> * 핸드폰번호 </td>
                        <td> <input type="text" name="mobile" value="{{user.mobile}}" id="mobile"> </td>
                    </tr>
                    <tr>
                        <td>* 이메일 </td>
                        <td> <input type="text" name="email" value="{{user.email}}" id="email"> </td>
                    </tr>
                    <tr>
                        <td>* 자기소개 </td>
                        <td> <input type="text" name="userintro" value="{{user.userintro}}" id="userintro"> </td>
                    </tr>
                </tbody>       
            </table>
        </div>
        <div>
            <input type="submit" id="btn" value="수정">
        </div>
    </form>
    <div>
        <button><a href="/user/profile">프로필</a></button>
    </div>
    <script type="text/javascript">
        const frm = document.querySelector('#update_frm')
        frm.addEventListener('submit', async (e)=>{
            e.preventDefault()
            
            const btn = document.querySelector('#btn')
            btn.value='수정중~~'
            btn.disabled= true
            const {userid,userpw,userimg,nickname,address,phone,mobile,userintro,email} = e.target
            const formData = new FormData()
            formData.append('userid',document.querySelector('#userid').value)
            formData.append('userpw',document.querySelector('#userpw').value)
            formData.append('userimg',userimg.files[0])
            formData.append('nickname',document.querySelector('#nickname').value)
            formData.append('address',document.querySelector('#address').value)
            formData.append('phone',document.querySelector('#phone').value)
            formData.append('mobile',document.querySelector('#mobile').value)
            formData.append('email',document.querySelector('#email').value)
            formData.append('userintro',document.querySelector('#userintro').value)
           
            
            // const userid = document.querySelector('#userid')
            // const userpw = document.querySelector('#userpw')
            // const userimg = document.querySelector('#userimg')
            // const nickname = document.querySelector('#nickname')
            // const gender = document.querySelector('#gender')
            // const address = document.querySelector('#address')
            // const phone = document.querySelector('#phone')
            // const mobile = document.querySelector('#mobile')
            

            // const data = {
            //     userid:userid.value,
            //     userpw: userpw.value,
            //     userimg: userimg.value,
            //     nickname: nickname.value,
            //     address: address.value,
            //     phone: phone.value,
            //     mobile: mobile.value,
            //     gender: gender.value,
               
            // }

            const option = {
                'Content-type':'application/json',
                withCredentials: true
            }

            const response = await axios.post('http://localhost:4000/api/user/update', formData, option)
            
            
        
            if(response.data.errno == 0){
                //성공
                alert('수정되었습니다.')
                location.href='http://localhost:3000'
            
            }else{
                //실패
                if(response.data.errno === 1062){
                    if(response.data.errormsg.includes('user.PRIMARY')){
                        alert('중복 된 아이디 입니다. 다른 아이디를 입력해주세요.')
                    }   
                    if(response.data.errormsg.includes('user.nickname')){
                        alert('중복 된 닉네임 입니다. 다른 닉네임을 사용해주세요.')
                    }
                    if(response.data.errormsg.includes('user.email')){
                        alert('이미 가입 된 이메일입니다.')
                    }
                }

                btn.value = '수정'
                btn.disabled = false

            }
          
        })
    </script>
</body>
</html>