
{% extends 'utils/header.html' %}

{% block content %}

<div id="content_wrap">

    <div id='profile_wrap'>
        <div id="profile"> 

        </div>
    </div>

    <div id="button_wrap">
        <div id="profile_right">
            <div id="profile_history">
                <span class="history">
                    <span><a href=/user/user_board>작성한 글 보기</a></span>
                </span>
                <span class="history">
                    <span><a href=/user/user_comment>작성한 댓글 보기</a></span>
                </span>
                <span class="history">
                    <span><a href=/user/user_like>좋아요 한 글 보기</a></span>                            
                </span>
            </div>
        </div>
    </div>
</div>

        <template id="profiles">
            <span id="userimg"><img src="http://localhost:4000/uploads/{userimg}" style="width:100px; height:100px; margin-left:30px;" ></span>
            <ul>
                <li>
                    <span id="username">이름 : {username}</span>
                </li>
                <li>
                    <span id="nickname">닉네임 : {nickname}</span>
                </li>
                <li>
                    <span id="gender">성별 : {gender} </span>
                </li>
                <li>
                    <span id="email">이메일 : {email}</span>
                </li>
                <li>
                    <span id="userintro">자기소개 : {userintro} </span>
                </li>
            </ul>
        </template>
</body>
<script>
    document.addEventListener('DOMContentLoaded', async() => {
        let template = ''
        const profile = document.querySelector('#profile')
        const profiles = document.querySelector('#profiles').innerHTML
        
        const uri = location.href
        const uri2 = uri.split('/')[4]
        const uri3 = uri2.split('?')[1]
        const uri4 = uri3.split('=')[1] // 게시물 리스트에서 회원정보 클릭할 떄 나오는 닉네임
        
        const data = {
            uri4
        }

        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }

        const response = await axios.post('http://localhost:4000/api/user/profile',data,option)
        // console.log('이거냐?',response.data.userimg)

        if( response.data.errno ===0){
            const {userid,username,userimg,nickname,address,gender,phone,mobile,email,userintro} = response.data.result[0]
            template = profiles.replace('{nickname}',nickname)
                               .replace('{userid}',userid)
                               .replace('{username}',username)
                               .replace('{userimg}',userimg)
                               .replace('{nickname}',nickname)
                               .replace('{address}',address)
                               .replace('{gender}',gender)
                               .replace('{phone}',phone)
                               .replace('{mobile}',mobile)
                               .replace('{email}',email)
                               .replace('{userintro}',userintro)

            profile.innerHTML = template
            
            
        }
    })      
</script>
{% endblock %}