{% include "../utils/header.html" %}
    <h2> cate1_좋아요 </h2>
    <div id = profile>


    </div>
    <template id = profiles>
        <table>
            <tr>
                <td>idx</td>
                <td>title</td>
                <td>작성자</td>
                <td>작성일자</td>
                <td>hit</td>
            </tr>

            
            <tr>
                <td id="idx">{idx}</td>
                <td><a href="/board/cate1/view?idx={idx}" id="title">{title}</a></td> 
                <td id="nickname">{nickname}</td>
                <td id="date">{date}</td>
                <td id="hit">{hit}</td>
            </tr>
           
        </table>
    </template>
</body>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',async() =>{
        let template = ''
        const profile = document.querySelector('#profile')
        const profiles = document.querySelector('#profiles').innerHTML

        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }

        const response = await axios.post('http://localhost:4000/api/user/userlike',null,option)
        if(response.data.errno == 0){
           for(let i = 0; i< response.data.result.length; i++){
            const {idx,title,nickname,date,hit} = response.data.result[i]
            template += profiles.replaceAll('{idx}',idx)
                                .replace('{title}',title,)
                                .replace('{nickname}',nickname)
                                .replace('{date}',date)
                                .replace('{hit}',hit)
                            
                                
                                
            profile.innerHTML = template
            }
        }  
    })
</script>
</html>