{% extends 'utils/header.html' %}
{% block content %}

<div id="us_cate1">
    <div id="cate1_bduser">
        <h2> 댓글 보기 </h2>
    </div>
    <table id="board_table">
        <thead id="board_thead">
            <tr>
                <th id="cm_id">번호</th>
                <th id="cm_cate">카테고리</th>
                <th id="cm_ct">제목</th>
                <th id="cm_cont">내용</th>
                <th id="cm_wt">작성자</th>
                <th id="cm_date">작성일</th>
            </tr>
        </thead>

        <tbody id="profile_user">

        </tbody> 
    </table>
    <div id="paging">
        <ul>
            
        </ul>
    </div>
    <template id = "profiles_users"> 
            <tr>
                <th id="idx">{idx}</th>
                <th id="cate">{cate}</th>
                <th id="temp_title"><a href="/board/cate1/view?idx={idx}" id="title">{title}</a></th> 
                <th id="content">{content}</th>
                <th id="nickname">{nickname}</th> 
                <th id="date">{date}</th>
            </tr>
        </table>
    </template>
</div>
<script type="text/javascript">
    let pager = []
    document.addEventListener('DOMContentLoaded',async() =>{
        let template = ''
        const profile = document.querySelector('#profile_user')
        const profiles = document.querySelector('#profiles_users').innerHTML

        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }

        const uri = location.href
        const uri2 = uri.split('/')[4]
        const uri3 = uri2.split('?')[1]
        const uri4 = uri3.split('=')[1]

        const data = {
            uri4
        }


        const response = await axios.post('http://localhost:4000/api/user/usercmt',data,option)
        if(response.data.errno == 0){
           for(let i = 0; i< response.data.result.length; i++){
            const {midx,mcategory,title,content,nickname,date} = response.data.result[i]
            template += profiles.replaceAll('{idx}',midx)
                                .replace('{cate}',mcategory)
                                .replace('{title}',title)
                                .replace('{content}',content)
                                .replace('{nickname}',nickname)
                                .replace('{date}',date)  

            profile.innerHTML = template
            }
        }
        
        const trElement = document.querySelector('#profiles_users').innerHTML

        const {total_record} = response.data
        const view_article = 10 // 한 페이지에 있는 블럭 수
        const block_article = 10 // 한 블럭에 보일 갯수

        const total_page = Math.ceil(total_record/view_article)
        const total_block = Math.ceil(total_page/block_article)
        let page = 4
        const current_block = Math.ceil(page/block_article)
        const block = ((current_block-1) * block_article)

        let end_block = block + block_article
        if(end_block > total_page) {end_block = total_page}

        const paging = document.querySelector('#paging > ul')
            
        for  ( let i = 0; i<=end_block; i++) {
            const liElement = document.createElement('li')
            const aElement = document.createElement('a')

            aElement.setAttribute('onClick', `pagemove(${i})`)
            aElement.innerHTML = `[${i}]`
            liElement.appendChild(aElement)
            paging.appendChild(liElement)
        }
        pager = [...response.data.result]
        const Nodes = response.data.result.slice((page - 1) * view_article, page * view_article)
        const board_row = document.querySelector('#profiles_users')
        const tbody = document.querySelector('#profile_user')

        Nodes.forEach( v => {
                const clone = document.importNode(board_row.content,true)
                const th = clone.querySelectorAll('th')
                const aElement = document.createElement('a')
                aElement.href=`/board/cate1/view/?idx=${v.idx}`
                aElement.innerHTML = v.subject

                th[0].innerHTML = v.idx
                th[1].innerHTML = v.mcategory
                th[2].innerHTML = v.title
                th[3].innerHTML = v.content
                th[3].innerHTML = v.nickname
                th[4].innerHTML = v.date


                tbody.appendChild(clone)
        })
        pagemove(1)
    })

    function pagemove(num) {
            const trElement = document.querySelector('#profiles_users').innerHTML
            const view_article = 10
            const raw = pager
            let refine = []

            for(i = 0; i <raw.length; i++) {
                if( raw[i].hidden !== 'on') {
                    refine.push(raw[i])
                }
            }

            const Nodes = refine.slice((num-1) * view_article, num * view_article)
            let template = ''
            Nodes.forEach( v=> {
                template += trElement.replaceAll('{idx}', v.idx)
                            .replace('{title}',v.title)
                            .replace('{cate}', v.mcategory)
                            .replace('{content}', v.content)
                            .replace('{nickname}',v.nickname)
                            .replace('{date}',v.date)

            })

            const tbody = document.querySelector('#profile_user')
            tbody.innerHTML = template
    }

</script>
<style>
    #board_thead > tr > #cm_id {
        width:50px;
    }

    #board_thead > tr > #cm_cate {
        width:100px;
    }

    #board_thead > tr > #cm_wt {
        width: 100px;
    }

    #board_thead > tr > #cm_date {
        width:150px;
    }
    
    #cm_ct {
        width:400px;
    }
    
    #footer_wrap {
    bottom: -650px !important;
    position: relative;
    }

    #paging > ul > li:nth-child(1) {
        display:none;
    }
</style>
{% endblock %}