{% extends 'utils/header.html' %}
{% block content %}

<div id="us_cate1">
    <div id="cate1_bduser">
        <h2> 댓글 보기 </h2>
    </div>
    <table id="board_table">
        <thead id="board_thead">
            <tr>
                <th id="cm_id">번호</th>
                <th id="cm_cate">카테고리</th>
                <th id="cm_ct">제목</th>
                <th id="cm_cont">내용</th>
                <th id="cm_wt">작성자</th>
                <th id="cm_date">작성일</th>
            </tr>
        </thead>

        <tbody id="profile_user">

        </tbody> 
    </table>
    <div id="paging">
        <ul>
            
        </ul>
    </div>
    <template id = "profiles_users"> 
            <tr>
                <th id="idx">{idx}</th>
                <th id="cate">{cate}</th>
                <th id="temp_title"><a href="/board/cate1/view?idx={idx}" id="title">{title}</a></th> 
                <th id="content">{content}</th>
                <th id="nickname">{nickname}</th> 
                <th id="date">{date}</th>
            </tr>
        </table>
    </template>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',async() =>{
        let template = ''
        const profile = document.querySelector('#profile_user')
        const profiles = document.querySelector('#profiles_users').innerHTML

        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }

        const response = await axios.post('http://localhost:4000/api/user/usercmt',null,option)
        if(response.data.errno == 0){
           for(let i = 0; i< response.data.result.length; i++){
            const {midx,mcategory,title,content,nickname,date} = response.data.result[i]
            template += profiles.replaceAll('{idx}',midx)
                                .replace('{cate}',mcategory)
                                .replace('{title}',title)
                                .replace('{content}',content)
                                .replace('{nickname}',nickname)
                                .replace('{date}',date)
                            
                                
                                
            profile.innerHTML = template
            }
        }  
    })
</script>
<style>
    #board_thead > tr > #cm_id {
        width:50px;
    }

    #board_thead > tr > #cm_cate {
        width:100px;
    }

    #board_thead > tr > #cm_wt {
        width: 100px;
    }

    #board_thead > tr > #cm_date {
        width:150px;
    }
    
    #cm_ct {
        width:400px;
    }
    
    #footer_wrap {
    bottom: -650px !important;
    position: relative;

}
</style>
{% endblock %}