<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1><a href='/'>logo</a></h1>
    <h2> cate1_댓글 </h2>
    <div id = profile>


    </div>
    <template id = profiles>
        <table>
            <tr>
                <td>idx</td>
                <td>cate</td>
                <td>title</td>
                <td>content</td>
                <td>작성자</td>
                <td>작성일</td>
            </tr>

            
            <tr>
                <td id="idx">{idx}</td>
                <td id="cate">{cate}</td>
                <td><a href="/board/cate1/view?idx={idx}" id="title">{title}</a></td>
                <td id="content">{content}</td> 
                <td id="nickname">{nickname}</td>
                <td id="date">{date}</td>
            </tr>
           
        </table>
    </template>
</body>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',async() =>{
        let template = ''
        const profile = document.querySelector('#profile')
        const profiles = document.querySelector('#profiles').innerHTML

        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }

        const response = await axios.post('http://localhost:4000/api/user/usercmt',null,option)
        if(response.data.errno == 0){
           for(let i = 0; i< response.data.result.length; i++){
            const {midx,mcategory,title,content,nickname,date} = response.data.result[i]
            template += profiles.replaceAll('{idx}',midx)
                                .replace('{cate}',mcategory)
                                .replace('{title}',title)
                                .replace('{content}',content)
                                .replace('{nickname}',nickname)
                                .replace('{date}',date)
                            
                                
                                
            profile.innerHTML = template
            }
        }  
    })
</script>
</html>