{% extends "../utils/header.html" %}
{% block content %}
    <div id="welcome_wrap">
        <div id="wel_back">

            <div><img src="http://localhost:3000/logo.jpg"></div>
            <h3 id="wel_nick"> {{nickname}}님, 환영합니다!</h3>

            <div class="wel_text">대충 공간을 채워줄 환영문구.. 이런거 해보세요!</div>
            <div class="wel_text">저런것도 해보세요!</div>

            <div id="wel_button">
                <span><a href="/">메인으로</a></span>
                <span><a href="/board">게시판</a></span>
            </div>
                
            <div class="wel_msg">
                즐거운 시간 되세요!
            </div>
            <div class="wel_enj">
                Enjoy it!
            </div>

            <div id="wel_foot">
                <div class="wel_ftr">
                    in PA db and sb exist alternatively
                </div>

                <div class="wel_ftr">
                    does not matter since they are going to start clearing
                </div class="wel_ftr">
            </div>
            <div id="wel_copy">@ powered by team4</div>
        </div>
    </div>
{% endblock %}
