{% include "../utils/header.html" %}
    <h2>회원 가입이 완료 되었습니다!</h2>
    <div id ="welcome">


    </div>
    <!-- <template id ="welcomes"></template> -->
        <h3> {{nickname}}님, 환영합니다!</h3> 
        <ul>
            <li>
                <span id="userid">아이디 : {{userid}} </span> 
            </li>
            <li>
                <span id="username">이름 : {{username}} </span>
            </li>
            <li>
                <span id="nickname">닉네임 :{{nickname}}</span>
            </li>
            <li>
                <span id="address">이메일 : {{email}}</span>
            </li>
            <li>
                <span id="mobile">핸드폰 : {{mobile}}</span>
            </li>
        </ul>
    <!-- </template> -->
    <button><a href="/user/login">로그인</a></button>
    <!-- 회원 가입 submit시 제출한 데이터의 값을 그대로 get/쿼리스트링으로
    넘겨줘서 표현할 예정-->
</body>
</html>