{% extends 'utils/header.html' %}

{% block content %}
<body>
    <div id="intro_wrap">
        <div id="intro_logo">
            <h3 id="intro_text">
                about
            </h3>
        </div>
        <div id="img_wrap">
            <div id="introimg">
                <img src="http://localhost:3000/intro_main.jpg" id="intro_img">
                <div id="kg_text">
                    <h1>
                        KYUNGIL
                        <br>
                        COMMUNITY
                    </h1>
                </div>
            </div>
        </div>
        <div id="kg_content">
            <p>
                팀 프로젝트를 시작하기에 앞서서 팀장과 팀원들이 프로젝트의 방향성과 컨셉에 대해 밤새 고민하다
                생각해낸 것이 바로 경일 아카데미 커뮤니티 사이트입니다.  
                <br>
                본 사이트를 개발하게 된 취지는 경일아
                카데미에 다니는 학생들이 좀더 서로에 대해 알아가고 취업정보, 코드정보 등을 공유하고 같이
                공부할 수 있는 기회를 제공하는 공간이 필요하다고 생각해서 만들게 되었습니다. 많은 경일 학생들이 
                이 사이트를 이용해서 경일 아카데미를 대표하는 커뮤니티 사이트가 되기를 바랍니다.
            </p>
        </div>

    </div>

{% endblock %}