<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main2.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="//db.onlinewebfonts.com/c/92b994e3bb31598967f16764d8f05352?family=FF+Signa+Serif+Stencil" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://localhost:3000/js/main.js"></script>
    <script type="text/javascript">
    

        document.addEventListener('DOMContentLoaded',()=>{
            const webSocket = new WebSocket('ws://localhost:3000')

            const form = document.querySelector('form')

            webSocket.onopen = () => {
                console.log('웹소켓 Connection 성공 ( Handshake )')
            }

            form.addEventListener('submit', (e)=>{
                e.preventDefault()
                const{ input } = e.target

                let data = {
                        type:'send_msg',
                        userid:'{{userid}}',
                        data:input.value
                    }
                
                webSocket.send(JSON.stringify(data))
                input.value = ''
                // input.focus() << 이거 뭐임?
            })

            webSocket.onmessage = (event) => {
                const chat = document.querySelector('#chat')
                const liElement = document.createElement('li')
                liElement.innerHTML = event.data
                chat.appendChild(liElement)
                // console.log(event.data)
            }

            webSocket.onclose = () => {
                console.log('웹소켓 disconnection')
            }
            const logout2 = document.querySelector('#logout')
            logout2.addEventListener('click', async (d)=>{
                d.preventDefault()

                const option = {
                    'Content-type':'application/json',
                    withCredentials:"true"
                }

                const response = await axios.post('http://localhost:4000/api/user/logout',null,option)
                alert('로그아웃 되었습니다')
                location.href='http://localhost:3000'
            })
        })
    </script>
</head>
<body>
    <div id="wrap">
        <div id="Transparency" class="">
    
        </div>
        <header id="header">
            <div id="banner">
                <div id="logo_box">
                    <a href="/"><img id="logo"src="http://localhost:3000/logo.png"></a>
                </div>
    
    
                <div id="access2">
                    <a href ='/board'>게시판</a>
                    <a href="/board/notice">공지사항</a>
                    <a href="/user/profile?nickname={{nickname}}">프로필</a>
                    <a href="" id="logout">로그아웃</a>
                </div>
            
                <div id="hamberger">
                    <input type="checkbox" id="icon">
                    <label for="icon">  <!--label은 인라인 스타일-->
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <div id="menu">
                        <ul>
                            <li><a href="#">Introdue</a></li>
                            <li><a href="#">Enjoy it!</a></li>
                            <li><a href="#">Board</a></li>
                            <li><a href="#">This month</a></li>
                        </ul>
                    </div>
                </div>
                </div>
                <div id="main_pic">
                    <h3 id="main_txt">
                        <span class="start">ONLY FOR</span>
                        <br>
                        KYUNGIL STUDENTS
                        <span class="line"></span>
                        <br>
                        <span class="msg">ENJOY IT !</span>
                
                    </h3>
                    <div id="pic_box">
                        <div>
                            <img src="http://localhost:3000/blockchain.jpeg">
                        </div>
                        <div>
                            <img src="http://localhost:3000/programming.jpg">
                        </div>
                        <div>
                            <img src="http://localhost:3000/planning.jpg">
                        </div>
                        <div>
                            <img src="http://localhost:3000/artworks.jpg">
                        </div>
                    </div>
                </div>
                
        </header>
    
    
        <content>
            <h1>----------chat----------</h1>
            <form action="/" method="get">
                <input type="text" name="input" id="input">
                <input type="submit" value="전송">
            </form>
            <ul id="chat">
        
            </ul>
        </content>
    
    
        <footer>
    
        </footer>
    
    
    </div>
</body>

</html>