<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main2.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/common/footer.css">
    <link rel="stylesheet" href="/user/font.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="//db.onlinewebfonts.com/c/92b994e3bb31598967f16764d8f05352?family=FF+Signa+Serif+Stencil" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://localhost:3000/js/main.js"></script>
    <script type="text/javascript" src="http://localhost:3000/js/scroll.js"></script>
    <script type="text/javascript">
    

        document.addEventListener('DOMContentLoaded',()=>{
            const webSocket = new WebSocket('ws://localhost:3000')

            const form = document.querySelector('form')

            webSocket.onopen = () => {
                console.log('웹소켓 Connection 성공 ( Handshake )')
            }

            form.addEventListener('submit', (e)=>{
                e.preventDefault()
                const{ input } = e.target

                let data = {
                        type:'send_msg',
                        userid:'{{userid}}',
                        data:input.value
                    }
                
                webSocket.send(JSON.stringify(data))
                input.value = ''
                // input.focus() << 이거 뭐임?
            })

            webSocket.onmessage = (event) => {
                const chat = document.querySelector('#chat')
                const spanElement = document.createElement('span')
                const divElement = document.createElement('div')
                spanElement.innerHTML = event.data
                divElement.appendChild(spanElement)
                chat.appendChild(divElement)
                

                const author = spanElement.innerHTML.split(':')[0]
                if ( author == "{{userid}}") {
                divElement.setAttribute('class', 'me' )
                }
                else {
                    divElement.setAttribute('class', 'you')
                }
                
                chat.scrollTop = chat.scrollHeight
            }

            webSocket.onclose = () => {
                console.log('웹소켓 disconnection')
            }
            const logout2 = document.querySelector('#logout')
            logout2.addEventListener('click', async (d)=>{
                d.preventDefault()

                const option = {
                    'Content-type':'application/json',
                    withCredentials:"true"
                }

                const response = await axios.post('http://localhost:4000/api/user/logout',null,option)
                alert('로그아웃 되었습니다')
                location.href='http://localhost:3000'
            })
            
            //시간



            const clock = document.querySelector('.h1-clock');


            function getTime(){
                const time = new Date();
                const hour = time.getHours();
                const minutes = time.getMinutes();
                const seconds = time.getSeconds();
                //clock.innerHTML = hour +":" + minutes + ":"+seconds;
                clock.innerHTML = `${hour<10 ? `0${hour}`:hour}:${minutes<10 ? `0${minutes}`:minutes}:${seconds<10 ? `0${seconds}`:seconds}`
            }


            function init(){
                setInterval(getTime, 1000);
            }

            init();
        })
    </script>
    <script>

        //달력
        $(document).ready(function() {
            calendarInit();
        });
    /*
        달력 렌더링 할 때 필요한 정보 목록 
    
        현재 월(초기값 : 현재 시간)
        금월 마지막일 날짜와 요일
        전월 마지막일 날짜와 요일
    */
    
        function calendarInit() {
    
            // 날짜 정보 가져오기
            var date = new Date(); // 현재 날짜(로컬 기준) 가져오기
            var utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000); // uct 표준시 도출
            var kstGap = 9 * 60 * 60 * 1000; // 한국 kst 기준시간 더하기
            var today = new Date(utc + kstGap); // 한국 시간으로 date 객체 만들기(오늘)
        
            var thisMonth = new Date(today.getFullYear(), today.getMonth(), today.getDate());
            // 달력에서 표기하는 날짜 객체
        
            
            var currentYear = thisMonth.getFullYear(); // 달력에서 표기하는 연
            var currentMonth = thisMonth.getMonth(); // 달력에서 표기하는 월
            var currentDate = thisMonth.getDate(); // 달력에서 표기하는 일
    
            // kst 기준 현재시간
            // console.log(thisMonth);
    
            // 캘린더 렌더링
            renderCalender(thisMonth);
    
            function renderCalender(thisMonth) {
    
                // 렌더링을 위한 데이터 정리
                currentYear = thisMonth.getFullYear();
                currentMonth = thisMonth.getMonth();
                currentDate = thisMonth.getDate();
    
                // 이전 달의 마지막 날 날짜와 요일 구하기
                var startDay = new Date(currentYear, currentMonth, 0);
                var prevDate = startDay.getDate();
                var prevDay = startDay.getDay();
    
                // 이번 달의 마지막날 날짜와 요일 구하기
                var endDay = new Date(currentYear, currentMonth + 1, 0);
                var nextDate = endDay.getDate();
                var nextDay = endDay.getDay();
    
                // console.log(prevDate, prevDay, nextDate, nextDay);
    
                // 현재 월 표기
                $('.year-month').text(currentYear + '.' + (currentMonth + 1));
    
                // 렌더링 html 요소 생성
                calendar = document.querySelector('.dates')
                calendar.innerHTML = '';
                
                // 지난달
                for (var i = prevDate - prevDay + 1; i <= prevDate; i++) {
                    calendar.innerHTML = calendar.innerHTML + '<div class="day prev disable">' + i + '</div>'
                }
                // 이번달
                for (var i = 1; i <= nextDate; i++) {
                    calendar.innerHTML = calendar.innerHTML + '<div class="day current">' + i + '</div>'
                }
                // 다음달
                for (var i = 1; i <= (7 - nextDay == 7 ? 0 : 7 - nextDay); i++) {
                    calendar.innerHTML = calendar.innerHTML + '<div class="day next disable">' + i + '</div>'
                }
    
                // 오늘 날짜 표기
                if (today.getMonth() == currentMonth) {
                    todayDate = today.getDate();
                    var currentMonthDate = document.querySelectorAll('.dates .current');
                    currentMonthDate[todayDate -1].classList.add('today');
                }
            }
    
            // 이전달로 이동
            $('.go-prev').on('click', function() {
                thisMonth = new Date(currentYear, currentMonth - 1, 1);
                renderCalender(thisMonth);
            });
    
            // 다음달로 이동
            $('.go-next').on('click', function() {
                thisMonth = new Date(currentYear, currentMonth + 1, 1);
                renderCalender(thisMonth); 
            });
        }
    </script>
</head>
<body>
<div id="wrap">
    <div id="Transparency" class="">

    </div>
    <header id="header">
        <div id="banner">
            <div id="logo_box">
                <a href="/"><img id="logo"src="http://localhost:3000/logo.png"></a>
            </div>

            <div id="access2">
                <ul>
                    <li>
                        <span class="menu_open">Board</span>
                        <ul id="bd_list" class="">
                            <li>
                                <a href="/board/cate1">자유게시판</a>
                            </li>
                            <li>
                                <a href="/board/QnA">Q & A</a>
                            </li>
                            <li>
                                <a href="/board/request">청원게시판</a>
                            </li>
                            <li>
                                <a href="/board/question">코드자문</a>
                            </li>
                            <li>
                                <a href="/board/notice">공지사항</a>
                            </li>
                        </ul>
                     
                    </li>
                    <li>
                        <a href="/board/notice">Notice</a>
                    </li>
                    <li>
                        <a href="/user/profile?nickname={{nickname}}">Profile</a>
                    </li>
                    <li>
                        <a href="" id="logout">Logout</a>
                    </li>

                </ul>
            </div>
        
            <div id="hamberger">
                <input type="checkbox" id="icon">
                <label for="icon">  <!--label은 인라인 스타일-->
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <div id="menu">
                    <ul>
                        <li><a href="http://localhost:3000/community/introduce">Introduce</a></li>
                        <li><a href="http://localhost:3000/matching/duo">Enjoy it!</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">This month</a></li>
                    </ul>
                </div>
            </div>
            </div>
            <div id="main_pic">
                <h3 id="main_txt">
                    <span class="msg">ONLY FOR</span>
                    <span class="msg">KYUNGIL STUDENTS</span>
                    <span class="line"></span>
                    <br>
                    <span class="msg">ENJOY IT !</span>
            
                <h3>
                <div id="slide_area">
                    <div id="pic_box">
                        <div>
                            <img src="http://localhost:3000/blockchain.jpeg">
                        </div>
                        <div>
                            <img src="http://localhost:3000/programming.jpg">
                        </div>
                        <div>
                            <img src="http://localhost:3000/planning.jpg">
                        </div>
                        <div>
                            <img src="http://localhost:3000/artworks.jpg">
                        </div>
                    </div>
                </div>
            </div>
            
    </header>


    <content id="main_content">
        <div id="container1">
            <div id="card_news">
                <div class="card">
                    <h1>경일 카드뉴스</h1>
                    <ul id="card_box">
                        <li>
                            <a href="#"><img src="http://localhost:3000/blockchain.jpeg"></a>
                            <span>경일 카드뉴스 제목1</span>
                        </li>
                        <li>
                            <a href="#"><img src="http://localhost:3000/blockchain.jpeg"></a>
                            <span>경일 카드뉴스 제목1</span>
                        </li>
                        <li>
                            <a href="#"><img src="http://localhost:3000/blockchain.jpeg"></a>
                            <span>경일 카드뉴스 제목1</span>
                        </li>
                        <li>
                            <a href="#"><img src="http://localhost:3000/blockchain.jpeg"></a>
                            <span>경일 카드뉴스 제목1</span>
                        </li>
                        <li>
                            <a href="#"><img src="http://localhost:3000/blockchain.jpeg"></a>
                            <span>경일 카드뉴스 제목1</span>
                        </li>
                        <li>
                            <a href="#"><img src="http://localhost:3000/blockchain.jpeg"></a>
                            <span>경일 카드뉴스 제목1</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div id="container2">
            <div id="hot_board">
                <h2>인기 게시물</h1>
                <div class="many_likes">

                </div>
            </div>
            <div id="event_board">
                <h2>진행 중인 이벤트</h2>
                <div class="event_list">

                </div>
            </div>
            <div id="this_month_student">
                <h2>이달의 학우</h2>
                <div class="best_student">

                </div>
            </div>
        </div>
        <div id="container3">
            <div id="live_chat">
                <img src="http://localhost:3000/live_chat.png">
            </div>
            <div id="chat_box">
                <div id="chat_wrap">
                    <div id="chat_space">
                        <ul id="chat">
                        
                        </ul>
                    </div>
                </div>

                <form id="frm_chat" action="/" method="get">
                    <input type="text" name="input" id="input">
                    <input type="submit" value="전송">
                </form>
            </div>
            <div id="deco">
                <div id="calender">
                    <div class="sec_cal">
                        <div class="cal_nav">
                          <a href="javascript:;" class="nav-btn go-prev">prev</a>
                          <div class="year-month"></div>
                          <a href="javascript:;" class="nav-btn go-next">next</a>
                        </div>
                        <div class="cal_wrap">
                          <div class="days">
                            <div class="day">MON</div>
                            <div class="day">TUE</div>
                            <div class="day">WED</div>
                            <div class="day">THU</div>
                            <div class="day">FRI</div>
                            <div class="day">SAT</div>
                            <div class="day">SUN</div>
                          </div>
                          <div class="dates"></div>
                        </div>
                      </div>
                </div>

                <div id="current_time">
                    <span class="time_text"> 현재 시각은 </span>
                    <h1 class = "h1-clock"></h1>
                </div>
            </div>
        </div>
    

    </content>

    {% include "./utils/footer.html" %}


</div>
</body>

</html>