#wrap{
    width: 100%;
    height: 2000px!important;
    position: relative;
}

#main_content{
    width: 1600px;
    position: relative;
    height: 1000px;
    /* background: purple; */
    top: 0;
    display: flex;
    margin: 0 auto;
    margin-top: 200px;

}

/* 카드뉴스 */
#container1 {
    width: 50%;
    height: 100%;
    /* background-color: aliceblue; */
}
.card > h1{
    display: block;
    margin: 10px;
    margin-bottom: 20px;
}

#card_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#card_box > li{
    width: 45%;
    height: 250px;
    margin-bottom: 50px;
}
#card_box > li > a > img{
    width: 100%;
    height: 100%;
}

#card_box > li > span{
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;

}

#container2 > div > h2{
    width: 100%;
    height: 40px;
    margin-left: 10px;
    padding-top: 10px;

}
/* 게시판 로드 */
#container2{
    width: 25%;
    height: 100%;
    /* background: red; */
}

/* 인기게시물 */
#hot_board{
    width: 100%;
    height: 33.3%;
    /* background: pink; */
}
/* 이벤트 게시물 */
#event_board{
    width: 100%;
    height: 33.3%;
    /* background: orange; */
}
/* 이달의 학우 */
#this_month_student{
    width: 100%;
    height: 33.3%;
    /* background: yellow; */
}

#container3{
    width: 25%;
    height: 100%;
}
#chat_box{
    width: 100%;
    height: 48%;
    position: relative;
    outline: 1px solid #e7e7e7;
    border-radius: 20px;
    background: rgb(246, 237, 253);


}

#live_chat{
    width: 100%;
    height: 100px;
    margin-top: -50px;
    margin-bottom: 20px;

}

#live_chat > img{
    width: 100%;
    height: 100%;

}

#chat_wrap{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
#chat_space {
    position: relative;
    width: 100%;
    height: 80%;
    background: #ffffff;
    border-radius: 20px;
    top: 30px;
}

#frm_chat {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
}

#chat_input_box{
    width: 100%;
    height: 30px;
}


#frm_chat>input:nth-child(1){
    display: block;
    width: 260px;
    height: 30px;
    margin-right: 16px;
    outline:none;
    border: 1px solid #cccccc;
    background: #ffffff;
    border-radius: 10px;
    
}
#frm_chat>input:nth-child(2){
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #7e7e7e;
    background: #7e7e7e;
    color: #ffffff;
    font-size: 16px;
}

#chat {
    position:relative;
    top:20px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    /* overflow: auto; */
    overflow-y: scroll;
    overflow-x: hidden;

}
#chat::-webkit-scrollbar {
    width: 5px!important;

}

#chat::-webkit-scrollbar-thumb{
    background: rgb(128, 128, 128)!important;
}

#chat::-webkit-scrollbar-track {
    background-color:#ffffff /*스크롤바 트랙 색상*/
}

.me {
    text-align: right;
    width: 100%;
    display: block;
    margin: 4px 0;
}

.me > span{
    display: inline-block;
    padding: 5px;
    background: #fff67d;
    border-radius: 10px;
    margin-right: 6px;
}
.you {
    text-align: left;
    width: 100%;
    display: block;
    margin: 4px 0;
}
.you > span{
    display: inline-block;
    padding: 5px;
    background: #d4d4d4;
    border-radius: 10px;
    margin-left: 6px;
}
.you:nth-child(1) {
    margin-top: -5px!important;
}
.you:nth-child(1) > span{
    display: inline-block;
    padding: 5px;
    background: none!important;
    border-radius: 10px;
    margin-left: 6px;
}

#deco{
    width: 100%;
    height: 50%;
}
#calender{
    width: 100%;
    height: 63%;
    margin-top: 20px;
}

/* 달력 */

.sec_cal {
    width: 360px;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: rgb(41, 41, 41);
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 150px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: rgb(189, 187, 187);
}


#current_time{
    width: 100%;
    height: 35%;
    /* background: violet; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.time_text{
    display: block;
    height: 20px;
    font-size: 24px;
    line-height: 50px;

}

.h1-clock{
    height: 20px;
}