/* 공통 */
*{
    padding: 0;
    margin: 0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

#wrap{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    position: relative;
}

#Transparency{
    width: 100%;
    height: 100px;
    background: #e0f7fa;
    position: fixed;
    top: 0;
    z-index: 5;
    display: none;
}

.trans{
    display: block!important;
}

#header{
    width: 100%;
    height : auto;

}

#banner{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 100;
}

#logo{
    width: 160px;
    height: 60px;
}

#bd_list {
    display: none;
    width:120px;
    height:auto;
    text-align:center;
    padding:10px;
    border:1px solid rgb(0, 0, 0);
    background: #d3d3d3;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    left:-12px;


}

#bd_list > li {
    margin:10px 0;
}

#bd_list > li > a {
    padding: 10px;
    color:#000000;
    text-shadow: -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);
    font-size: 20px;
}

.menu_on{
    display: block!important;
}
/* 여기서부터 햄버거 */

input[id="icon"] {
    display: none;
}
 
input[id="icon"] + label {
    display:block;
    width: 30px;
    height: 20px;
    cursor:pointer;
    position:relative;
    z-index: 2;
}
 
input[id="icon"] + label > span {
    display:block;
    height:3px;
    width:100%;
    border-radius:30px;
    background: black;
    position:absolute;
}

 
 
input[id="icon"] + label > span:nth-child(1) {
    top:0;
}

input[id="icon"] + label > span:nth-child(2) {
    top:50%;
    transform:translateY(-50%);
}
 
input[id="icon"] + label > span:nth-child(3) {
    bottom:0;
}


#menu {
    display: block;
    position:fixed;
    top: 0;
    height:100%;
    width:50%;
    right: -50%;
    background: #333333;
    box-sizing:border-box;
    z-index:1;
}

#menu > ul{
    /* margin-top: 110px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /*수직 정렬*/
    justify-content: space-evenly;
    
}

#menu > ul > li{
    text-align: center;
}

#menu > ul > li >a{
    display: inline-block;
    font-size: 90px;
    font-family: 'FF Signa Serif Stencil', 'Book';
    color: #96fafa;
    width: 100%;

}

#menu > ul > li:hover > a {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    /* transition: all 0.2s ease-in-out; */
}




input[id="icon"]:checked + label + #menu{
    right: 0px !important;
}

input[id="icon"]:checked + label > span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
    background: #96fafa;
}
 
input[id="icon"]:checked + label > span:nth-child(2) {
    display:none;
    background: #96fafa;
}
 
input[id="icon"]:checked + label > span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
    background: #96fafa;
}



 

/* 헤더 정렬 */

#banner{
    display: flex;
    justify-content: space-between;
    position:fixed;
    top: 0;
}

#logo_box{
    margin-top: 25px;
    margin-left: 50px;
}

#hamberger{
    margin-top: 45px;
    margin-right: 70px;
}
/* 로그인 전 메뉴 */
#access {
    width: 300px;
    height: 100px;
    top: 40px;
    position: absolute;
    right: 150px;
}

#access > a{
    color: black;
    margin: 0 13px 0px 13px;
    font-size: 24px;
}


/* 로그인 후 메뉴 */
#access2 {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 8%;
    top:8%
}

#access2 > ul{
    width: 600px;
    height: 100px;
    display: flex;
}

#access2 > ul > li{
    width: 110px;
    height: 100%;
}

#access2 > ul > li > span{
    display: inline-block;
    color: black;
    font-size: 24px;
    padding: 30px;
    cursor: pointer;
}

#access2 > ul > li > a{
    display: inline-block;
    color: black;
    font-size: 24px;
    padding: 30px;

}



#main_pic{
    width: 1800px;
    height: 600px;
    z-index: 3;
    top: 150px;
    position:relative;
    margin: 0 auto;


}


#slide_area{
    width: 1200px;
    height: 600px;
    /* background-color: red; */
    margin-left: 500px;
    position: relative;
    overflow: hidden;
  

}

#pic_box{
    width: 400%;
    height: 600px;
    position: absolute;
    display: flex;
}

#pic_box > div{
    width: 1200px;
    height: 600px;
}

#pic_box > div > img{
    width: 1200px;
    height: 100%;
}

#main_txt{
    position: absolute;
    z-index: 5;
    top: 110px;
    left: 80px;
    font-family: 'FF Signa Serif Stencil', 'Book';
    font-weight: 10;
    font-size: 90px;
} 
.start{
    display: block;
}

.line{
    display:block;
    height:1px;
    width:30%;
    border-radius:30px;
    background: black;
    position:absolute;
    top: 155px;
    left: -150px;
}
.msg{
    display: block;
    
}
.start, .msg {
    background: linear-gradient(to right,#000000,#000000,#ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}






::-webkit-scrollbar { width: 5px;}
::-webkit-scrollbar-track { background-color: rgb(214, 214, 214); }
::-webkit-scrollbar-thumb { background: #94e1ff; border-radius: 10px;}