<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>
            Hello Team4
        </h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>좋아요</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href='/board/view'>안녕하세요</a></td>
                <td>주찬</td>
                <td>2022-03-21</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
    <template id="board_row">
        <tr>
            <td>{idx}</td>
            <td></td>
            <td>{nickname}</td>
            <td>{date}</td>
            <td>{hit}</td>
            <td>{likes}</td>
        </tr>
    </template>
    <div>
        <button><a href="/board/write">글쓰기</a></button>
    </div>
</body>
</html>