<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div>
        <h1>공지사항 작성 페이지</h1>
    </div>

    <form method="post" action="http://localhost:4000/api/board/write" id="notice_frm">
        <input type="hidden" name="userid" value="admin" id="userid">
        <div>
            <strong>제목</strong> <br>
            <input type="text" name="title" placeholder="제목입력" id="title">
        </div>
        <div>
            <strong>내용</strong> <br>
            <textarea name="content" placeholder="내용입력" id="content"></textarea>
        </div>
        <input type="submit" value="글작성">
    </form>

    <script type="text/javascript">
        const notice_frm = document.querySelector('#notice_frm')
        notice_frm.addEventListener('submit', async(e) => {
            e.preventDefault()

            const userid = document.querySelector('#userid')
            const title = document.querySelector('#title')
            const content = document.querySelector('#content')
            
            const data = { 
                userid : userid.value,
                title : title.value,
                content : content.value
            }

            const option = {
                'Content-type':'application/json',
                withCredentials:true
            }

            const response = await axios.post('http://localhost:4000/api/board/notice', data, option)

            if(response.data.errno === 0) {
                alert('공지사항 작성이 완료되었습니다.')
                location.href='/board/notice'
            }
            else {
                alert('공지사항 작성중 문제가 발생하였습니다.')
            }
        })

    </script>
</body>
</html>

