<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>글쓰기 페이지</h1>
    </div>

    <form method="post" action="http://localhost:4000/api/board/write">
        <input type="hidden" name="userid" value="{{userid}}">
        <div>
            <strong>제목</strong> <br>
            <input type="text" name="title" placeholder="제목입력">
        </div>
        <div>
            <strong>내용</strong> <br>
            <textarea name="content" placeholder="내용입력"></textarea>
        </div>
        <input type="submit" value="글작성">
    </form>
</body>
</html>