{% extends 'utils/header.html' %}

{% block content %}
<body>
    <div id="useruser">
        <span id="userid">{{userid}}</span>
        <span id="mynick" style ='display: none;'>{{nickname}}</span>
    </div>
    <div id="view_wide">
        <div id="view_wrap">
            <dl>
                <dt id="view_dt">
                    <div id="view_title">
                        <span id="title">{{cate1_view.title}}</span>
                    </div>
                    <div id="view_head">
                        <span id="category">{{cate1_view.category}}</span>
                        <span id="view_date">{{ cate1_view.date }}</span>
                        <span id="writerid">{{cate1_view.userid}}</span>
                        <span id="nickname"><a id='userinfo' href="/user/profile?nickname={{cate1_view.nickname}}">{{ cate1_view.nickname }}</a></span>
                    </div>
                </dt>
                <dd id="view_dd">
                    <div id="view_content">
                        <div id="view_userimg">
                            <span id="userimg"></span>
                        </div>
                        {{ cate1_view.content }}
                    </div>
                    <div id="view_good">
                        <form method="post" action="http://localhost:4000/api/board/cate1/like" id="like">
                            <input type="submit" value="💗" id="thumb">
                        </form>
                    </div>
                    <div id="view_like">
                        <span id="likecount"></span>
                    </div> 
                </dd>
                <div id="view_form">
                    <div id="view_modify">
                        <a href='/board/cate1/update?idx={{cate1_view.idx}}' id="form_lk">수정</a>
                    </div>
                    <form method="post" action="http://localhost:4000/api/board/cate1/delete" id="del_frm">
                        <input type="hidden" name='idx' value="{{cate1_view.idx}}" id="idx"> 
                        <input type="submit" value="글 삭제" id="view_form_sub">
                    </form>
                </div>
                <div id="view_hash">
                    Hashtag : 
                    {% for item in cate1_hashtag %}
                    <span>#{{item.hashtag_name}}</span>
                    {% endfor %}
                </div>  
            </dl>
        </div>
        <!-- <div>
            <ul id="commentApp">
            </ul>
        </div> -->
        <!-- 댓글시스템 렌더링하는 div-->
        <div id="view_cmt">
            <div id="view_app">
                <ul id="commentApp">
                </ul>
            </div>
            <template id="commentForm">
                <li class="comment-form">
                    <form method="post" action="" class="cmt_frm">
                        <h4>댓글 <span>()</span> </h4>
                        <span class="ps_box">
                            <input type="text" placeholder="여러분의 소중한 댓글을 입력해주세요." class="int" value="" name="input">
                        </span>
                        <input type="submit" class="btn" value="댓글달기" />
                    </form>
                </li>
            </template>
            <!-- 댓글 작성 -->
            <template id="commentList">
                <li class="c_list">
                    <ul class="comment-row">
                        <li class="comment-id"></li>
                        <li class="comment-content">    
                            <input type="hidden" name="idx" value=""/>
                            <span class="comment-delete-btn">X</span>
                        </li>
                        <li class="comment-date"></li>
                    </ul>
                </li>
            </template>
            <!-- 댓글 목록 -->
            <template id="commentInput">
                <span>
                    <input type="text" class="comment-update-input" value="">
                </span>
            </template>
        </div>
        <div id="view_list">
            <a href="/board/cate1" class="v_list">글 목록</a>
        </div>
    </div>
    
    <script type="text/javascript">
        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }
        const idx = document.querySelector('#idx')
        const category = document.querySelector('#category')
        const userid = document.querySelector('#userid')

        document.addEventListener('DOMContentLoaded', async() => {
            const likeCount = document.querySelector('#likecount')
            const idx = document.querySelector('#idx')

            const data = {
                idx:idx.value
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/likeCount', data, option)
            let [likeNum] = Object.values(response.data.result[0])
            likeCount.innerHTML =likeNum

            const response2 = await axios.post('http://localhost:4000/api/board/cate1/viewuser', null, option)
            const Usernick = response2.data.result[0].nickname
            let nickname = "{{cate1_view.nickname}}"

            if(nickname !== Usernick){
              
            } else{

            }
            
        })

        // 좋아요 누르기(done)
        const like = document.querySelector('#like')

        like.addEventListener('submit', async (e) => {
            e.preventDefault()

            const idx = document.querySelector('#idx')
            const userid = document.querySelector('#userid')

            const data = {
                userid:userid.innerHTML,
                idx: idx.value
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/like', data ,option)
            const likeCount = document.querySelector('#likecount')
            if (response.data.errno === 1) {
                alert('좋아요를 취소하였습니다')
                likeCount.innerHTML--
            }
            else {
                alert('이 게시물을 추천했습니다.')
                likeCount.innerHTML++
            }
        })

        
        // 글 삭제

        const delForm = document.querySelector('#del_frm')      
        delForm.addEventListener('submit', async (e) => {
            e.preventDefault()

            const idx = delForm.querySelector('#idx')
            const writerid = document.querySelector('#writerid')
            const userid = document.querySelector('#userid')

            const data = {
                idx:idx.value,
                category:category.innerHTML,
                writerid:writerid.innerHTML,
                userid:userid.innerHTML
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/delete', data, option)

            if(response.data.errno === 0 ) {
                alert('글 삭제가 완료되었습니다.')
                location.href='/board/cate1'
            }
            else {
                alert('수행할 수 없는 명령입니다.')
            }
        })

        //
        //

        let state = {}
        state.comment=[]
        state.length=''

        document.addEventListener('DOMContentLoaded', async () => {
            const imgZone = document.querySelector('#userimg')
            const icategory = "{{cate1_image.category}}"
            const midx = "{{cate1_image.midx}}"
            const img1 = "{{cate1_image.img1}}"
            const img2 = "{{cate1_image.img2}}"
            const img3 = "{{cate1_image.img3}}"
            const img4 = "{{cate1_image.img4}}"
            const img5 = "{{cate1_image.img5}}"

            const tempImgArr = [img1, img2, img3, img4, img5]

            const imgArr = []

            for (let i =0; i<tempImgArr.length; i++) {
                if(tempImgArr[i] !== 'N/A') {
                    imgArr.push(tempImgArr[i])
                }
            }

            for ( let i =0; i<imgArr.length; i++) {
                const imgSpan = document.createElement('span')
                const imgElement = document.createElement('img')
                imgElement.setAttribute('src', `http://localhost:4000/uploads/${imgArr[i]}`)
                imgSpan.append(imgElement)
                imgZone.append(imgSpan)
            } 
        })
        //
        //
        document.addEventListener('DOMContentLoaded', async () => {
            const uri = location.pathname
            const cate = document.querySelector('#category').innerHTML
            const data = {
                idx:idx.value,
                cate:cate,
            }

            const replyResponse = await axios.post('http://localhost:4000/api/board/comment/view', data, option)

            let comment = replyResponse.data.result1 // array
            let length = replyResponse.data.result1.length
            
            state = {
                ...state,
                comment:comment,
                length:length
            }

            const commentApp = document.querySelector('#commentApp')
            const commentForm = document.querySelector('#commentForm')
            const commentList = document.querySelector('#commentList')
            const commentInput = document.querySelector('#commentInput')

            // 가장 아래 commentView() 함수가 있다. 그게 우선 실행된다. = 원래 있는 댓글들을 보여준다.
            // 근데 그 안에 createForm() 이 있고, 그 안에 submitHandler가 있다.
            // 논리 구조 한 번 시발 복잡하네..
        
            function commentView() {
                commentApp.innerHTML = '' // 댓글 zone 초기화
                createForm()

                state.comment.forEach(v => { // 각각의 댓글에 대해 실행
                    const clone = document.importNode(commentList.content, true)
                    // CommentList 템플릿의 내용물을 가져온다
                    const row = clone.querySelectorAll('.comment-row > li')
                    // 그 안에서 li element들을 죄다 선택
                    row[0].innerHTML = v.userid
                    // 첫 번째 list는 userid 입력
                    row[1].querySelector('input').value = v.idx
                    // 두 번째 li는 idx 입력
                    
                    if ( v.updateFlag == 'true') {
                        const spanElement = document.createElement('span')
                        spanElement.innerHTML = v.content
                        // span element를 만들어 댓글 내용을 넣는다.
                        const deleteBtn = row[1].querySelector('.comment-delete-btn')
                        // 'X' 가 있는 span 선택 
                        spanElement.addEventListener('click',updateHandler)
                        // 댓글을 클릭하면 수정 함수 실행 되게 addEventListener
                        deleteBtn.addEventListener('click',deleteHandler)
                        // 'X' 클릭시 삭제 함수 실행
                        row[1].prepend(spanElement)
                        // prepend는 append와 동일하지만 가장 앞에 요소가 추가됨
                    } 
                    else {
                        const clone = document.importNode(commentInput.content,true)
                        clone.querySelector('input').value = v.content
                        clone.querySelector('input').addEventListener('keypress',updateSubmitHandler)
                        row[1].prepend(clone)
                    }

                    row[2].innerHTML = v.date

                    commentApp.appendChild(clone)
                })
            }

            function createForm(){
                const clone = document.importNode(commentForm.content, true) // commentForm 안에 있는 요소들을 그냥 가져온거임.
                const form = clone.querySelector('form') // 그중 form을 선택
                const counting = form.querySelector('h4 > span') // 빈 괄호 말하는거
                counting.innerHTML = `(${state.comment.length})` // 그 빈 괄호에 댓글 갯수를 넣는다.

                form.addEventListener('submit',submitHandler)
                commentApp.append(clone) // 댓글 area에 clone을 통합
            }
            // 댓글 쓰는 모듈

            async function submitHandler (e){
                e.preventDefault()
                const { input } = e.target // 댓글 내용을 입력해주세요 하는 그 input

                const counting = e.target.querySelector('h4 > span')
                // 빈 괄호 > createForm이 실행된 후엔 댓글의 갯수가 채워짐
                const length = state.length
                const cidx = length != 0 ? parseInt(state.length + 1 ) : 1 
                // length가 0 이 아니면 두 번째 항, 0이면 세번째 항을 value로 가짐
                // idx는 댓글이 현재 글의 몇 번째 댓글인지를 알려준다. 
                // 그래서 지금까지 단 댓글 수를 먼저 계산하는게 2번째 항이고, 
                // 없으면 세번째항의 value인 1을 가지는것.

                //날짜
                let today = new Date()
                let year = today.getFullYear()
                let month = ('0' + (today.getMonth() + 1)).slice(-2)
                let day = ('0' + today.getDate()).slice(-2)

                let dateString = year + '-' + month + '-' + day

                //시간
                let today2 = new Date()
                let hours = ('0' + today2.getHours()).slice(-2)
                let minutes = ('0' + today2.getMinutes()).slice(-2)
                let seconds = ('0' + today2.getSeconds()).slice(-2)

                let timeString = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds
               
    
                const result = {idx,userid:'{{userid}}', content:input.value, date:timeString, updateFlag:'true'}
                // 대충 저 state.replay 처럼 포맷 만들어준다.
                state = {
                    ...state,
                    comment:[
                        ...state.comment,
                        result
                    ],
                    length:replyResponse.data.result1.length + 1
                }
                // state 변수를 업데이트 해준다. 방금 쓴 댓글을 추가하고, length 값을 1 더한다.

                const mynick = document.querySelector('#mynick')
                const content = input.value
                const userid = document.querySelector('#userid')
                
                const data = {
                    cate: cate,
                    idx: idx.value,
                    content: content,
                    nickname:mynick.innerHTML,
                    userid:userid.innerHTML
                }
                
                const replyAdd = await axios.post('http://localhost:4000/api/board/comment/add', data, option)
                console.log(replyAdd.data.insertId)
                 

                // row[1].querySelector('input').value = replyAdd.data.insertId.value // !!!!!!!!!!!!!!!!!!!!!!!!
                input.value = '' // 댓글 등록하면 form은 다시 빈 칸이 된다.
                counting.innerHTML = `(${state.length})` // 화면에 렌더링되는 댓글 수도 업데이트 해준다.
                
                commentView()

                const comments = commentApp.querySelectorAll('li')
                const newComment = comments[comments.length-2]
                console.log(newComment)
                const newCommentInput = newComment.querySelector('input')
                newCommentInput.value = replyAdd.data.insertId
                console.log(state)
            }

            //

            function updateHandler(e){
                const idx = parseInt( e.target.parentNode.querySelector('input').value )
                const newReply = [...state.comment]
                let index 

                for (let i =0; i < newReply.length; i++){
                    if (newReply[i].idx === idx){
                        index = i
                    }
                }

                newReply[index].updateFlag = 'false'
                console.log(idx,newReply)
                state = {
                    ...state,
                    replay:newReply
                }

                commentView()
            }

            async function updateSubmitHandler(e){
                
                if(e.keyCode === 13) {
                    
                    const idx = parseInt( e.target.parentNode.parentNode.querySelector('input[type=hidden]').value )
                    console.log(e.target.parentNode.querySelector('input').value)
                    // 댓글 테이블의 pk인 idx 의미
                    const content = e.target.parentNode.querySelector('input').value
                    const data = { 
                        idx:idx,
                        content: content
                    }
                    const updateReply = await axios.post('http://localhost:4000/api/board/comment/update', data, option)

                    const newReplay = [...state.replay]
                    let index 
                    for(let i =0; i < newReplay.length; i++){
                        if(newReplay[i].idx === idx){
                            index = i
                        }
                    }

                    newReplay[index].updateFlag = 'true'
                    newReplay[index].content = e.target.value

                    state = {
                        ...state,
                        comment:newReplay
                    }

                    commentView()
                }
            }

            async function deleteHandler(e){
                const idx = parseInt( e.target.parentNode.querySelector('input').value )
                
                const data = {
                    idx:idx                    
                }
                
                const commentDel = await axios.post('http://localhost:4000/api/board/comment/delete', data ,option)

                const newReply = state.comment.filter(v => v.idx !== idx)
                state = {
                    ...state,
                    comment:newReply,
                    length:newReply.length
                }
                commentView()
            }

            commentView()

            
        })
    </script>
    <style>
        #footer_wrap {
        bottom: -450px !important;
        position: relative;
    
    }
    </style>
{% endblock %}