<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            let hiddenSpan = document.querySelector('#hidden')
            let nickInput = document.querySelector('#nickname')

            nickInput.disabled= true
            hiddenSpan.disabled = true
        })
    </script>
    <style>
        #hidden {
            display:none;
        }
    </style>
</head>

<body>
    <div>
        <h1>cate1 write 페이지</h1>
    </div>
    
    <span id="hidden"> {{ userid }} </span>
    
    <form method="post" action="http://localhost:4000/api/board/cate1/write" id="write_frm">
        <input type="text" name="nickname" id="nickname" value="{{nickname}}">
        <div>
            <strong>제목</strong> <br>
            <input type="text" name="title" placeholder="제목입력" id="title" value="cate1">
        </div>
        <div>
            <strong>category</strong> <br>
            <input type="text" name="category" placeholder="카테고리 선택", id="category" value="cate1">
        </div>
        <div>
            <strong>내용</strong> <br>
            <textarea name="content" placeholder="내용입력" id="content" > does not matter since they are going to start clearing</textarea>
        </div>
        <br>
        <!-- <div id="ht_frm">
            <input id="hashtag" name="hashtag" placeholder="hashtag를 입력해주세요" value="ht1">
            <div id="ht_wrap"></div>
        </div> -->

        <input type="text" name="hash1" id="hash1" value="hash1">
        <input type="text" name="hash2" id="hash2" value="hash2">
        <input type="text" name="hash3" id="hash3" value="hash3">
        <input type="text" name="hash4" id="hash4" value="hash4">
        <input type="text" name="hash5" id="hash5" value="hash5">

        <input type="submit" value="글작성">
    </form>

    <script type="text/javascript">
        // const htForm = document.querySelector('#ht_frm')
        // const htText = document.querySelector('#hashtag')
        // let tagNum = 0
        // htForm.addEventListener('keydown', (e) => {
        //     if (e.keyCode === 13) {
        //         tagNum = tagNum+1
        //         const htElement = document.createElement('span')
        //         htElement.setAttribute('class', `hashtags`)
        //         htElement.setAttribute('id', `tag${tagNum}`)
        //         htElement.innerHTML = `#${htText.value}`
        //         htForm.append(htElement)
        //         htText.value = ''
        //         const asdf = document.querySelectorAll('.hashtags')
        //         console.log(asdf)
        //     }
        // })
        
        // const write_frm = document.querySelector('#write_frm')
        // write_frm.addEventListener('keydown', (e) => {
        //     if(e.keyCode === 13) {
        //         e.preventDefault()
        //     }
        // })

        write_frm.addEventListener('submit', async(e) => {
            e.preventDefault()

            const userid = document.querySelector('#hidden')
            const nickname = document.querySelector('#nickname')
            const category = document.querySelector('#category')
            const title = document.querySelector('#title')
            const content = document.querySelector('#content')
            // const hashtag = document.querySelectorAll('#hashtag')
            
            const data = { 
                userid : userid.innerHTML,
                category: category.value,
                nickname:nickname.value,
                title : title.value,
                content : content.value,
                // hashtag : hashtag.value
            }

            const hash1 = document.querySelector('#hash1')
            const hash2 = document.querySelector('#hash2')
            const hash3 = document.querySelector('#hash3')
            const hash4 = document.querySelector('#hash4')
            const hash5 = document.querySelector('#hash5')

            const data2 = {
                hash1: hash1.value,
                hash2: hash2.value,
                hash3: hash3.value,
                hash4: hash4.value,
                hash5: hash5.value
            }

            const option = {
                'Content-type':'application/json',
                withCredentials:true
            }

            // const response2 = await axios.post('http://localhost:4000/api/board/cate1/hashtag', data2, option)


            const response = await axios.post('http://localhost:4000/api/board/cate1/write', data, option)

            if (response.data.errno === 0) {
                alert('글 작성이 완료되었습니다.')
                location.href='/board/cate1'
            }
            else {
                alert('글 작성중 문제가 발생하였습니다.')
            }

           


        })
    </script>
</body>
</html>