<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">logo</a></h1>
    <h2>{{nickname}}님 회원정보입니다.</h2>
    <div id ="welcome">


    </div>
    <!-- <template id ="welcomes"></template> -->
        <ul>
            <li>
                <span id="userimg">{{userimg}}</span> 
            </li>
            <li>
                <span id="nickname">닉네임 :{{nickname}}</span>
            </li>
            <li>
                <span id="address">이메일 : {{email}}</span>
            </li>
            <li>
                <span id="userintro">자기소개 : {{userintro}}</span>
            </li>
        </ul>
</body>
</html>