<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        img {
            height:100px !important; 
            width: 100px !important;
        }
    </style>
</head>
<body>
    
    <form method ='post' action="http://localhost:4000/api/board/cate1/imgUpdate" id="update_frm">
        <div>
            <strong>제목</strong> <br>
            <input type="text" name="title" placeholder="제목입력" id="title" value="{{cate1_update.title}}">
        </div>
        <div>
            <strong>내용</strong> <br>
            <textarea name="content" placeholder="내용입력" id="content">{{cate1_update.content}}</textarea>
        </div>
        <input type="hidden" id="idx" name="idx" value="{{cate1_update.idx}}">

        <span id="imgZone"></span>


        <div id="ht_frm">
            <input id="hashtag" name="hashtag" placeholder="hashtag를 입력해주세요">
            <div id="ht_wrap"></div>

        {% for item in cate1_hashtag %}
        <div>
        <span class="htDeleter">X___</span>
        <span>#</span>
        <span class="hashtags">{{item.hashtag_name}}</span>
        </div>
        {% endfor %}
        </div>
        
        <input type="submit" value="글수정">
    </form>
        
    <script type="text/javascript">
        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }
        const idx = document.querySelector('#idx').value
        const cate = location.href.split('/')[4]

        // 이미지 수정은 어떻게 하지?
        // 기본적으로 소스 주소를 바꿔줘야 한다.
        document.addEventListener('DOMContentLoaded', async() => {

            const data = {idx:idx, cate:cate}
            const response = await axios.post('http://localhost:4000/api/board/cate1/imgLoad', data, option)

            const imgZone = document.querySelector('#imgZone')
            const { img1, img2, img3, img4 ,img5 } = response.data.result1[0]
            const tempImgArr = [img1, img2, img3, img4, img5]
            const imgArr = []

            for (let i =0; i<tempImgArr.length; i++) {
                if(tempImgArr[i] !== 'N/A') {
                    imgArr.push(tempImgArr[i])
                }
            }
            // 사진 없는 놈은 제거하고 있는 놈만 가져오는 배열 만들기 5-tempImgArr.length


            // img + input = 5 가 되도록 갯수를 맞춰 갯수 생성
            
            for ( let i = 0; i < imgArr.length; i++) {
                
                const imgOriginalSpan = document.createElement('span')
                const imgSpan = document.createElement('span')
                const imgElement = document.createElement('img')
                imgElement.setAttribute('src', `http://localhost:4000/uploads/${imgArr[i]}`)
                imgElement.setAttribute('id', `origin${i+1}a`)
                imgSpan.prepend(imgElement)
                imgOriginalSpan.append(imgSpan)
                imgZone.append(imgOriginalSpan)
                const dummyInput = document.createElement('input')
                dummyInput.setAttribute('type', 'hidden')
                dummyInput.setAttribute('name', `img${i+1}`)
                dummyInput.setAttribute('id', `img${i+1}`)
                imgSpan.prepend(dummyInput)
                

                const delHandler = document.createElement('span')
                delHandler.innerHTML = '_X_'
                imgSpan.prepend(delHandler)

                delHandler.addEventListener('click', async(e) => {
                    e.target.parentNode.remove()
                    const newImg = document.createElement('input')
                    newImg.setAttribute('type', 'file')
                    newImg.setAttribute('name', `img${i+1}`)
                    newImg.setAttribute('id', `img${i+1}`)
                    inputSpan.prepend(newImg)
                })

                // let updateFlag = false
                // imgElement.addEventListener('click', () => {
                           
                //     if (updateFlag == false) {
                //         const newImg = document.createElement('input')
                //         imgSpan.append(newImg)
                //         newImg.setAttribute('type', 'file')
                //         newImg.setAttribute('name', `img${i+1}a`)
                //         newImg.setAttribute('id', `img${i+1}a`)
                //     }
                //     else {
                //         const newImg = document.querySelector(`#img${i+1}a`)
                //         newImg.remove()
                //     }
                //     updateFlag = !updateFlag   
                // })
                // img 각각에 updateHandler 함수를 붙여보는건 어떨까?
                // 클릭하면 이미지 넣는게 뜨고 > 새 이미지를 넣으면
                // 원 이미지를 지우고 새 이미지를 넣는 함수..
                // X 하나 span이든 뭐든 위에 주고 누르면 사진 삭제
                // 
            }
            const inputSpan = document.createElement('span')
            let upNum = imgArr.length +1
            for ( i = 0; i <5-imgArr.length; i++) {
                
                const inputElement = document.createElement('input')
                inputElement.setAttribute('type', 'file')
                inputElement.setAttribute('name', `img${upNum}`)
                inputElement.setAttribute('id', `img${upNum}`)
                inputSpan.append(inputElement)
                imgZone.append(inputSpan)
                upNum++
            }
        })
        
        //
        //

        const htDeleteHandler = document.querySelectorAll('.htDeleter')
            for(i = 0; i<htDeleteHandler.length; i++) {
                htDeleteHandler[i].addEventListener('click', (e) => {
                    e.target.parentNode.remove()
                })
        }
            // enter를 이용해 해시 태그 추가, 삭제
        const htForm = document.querySelector('#ht_frm')
        const htText = document.querySelector('#hashtag')
        htForm.addEventListener('keydown', (e) => {
            if (e.keyCode === 13) {
                const htDelete = document.createElement('span')
                htDelete.innerHTML = 'X___'
                htDelete.setAttribute('class', `htDeleter`)
                
                const htElement = document.createElement('span')
                const htElement2 = document.createElement('span')
                htElement.setAttribute('class', `hashtags`)
                htElement.innerHTML = `${htText.value}`
                htElement2.innerHTML = '#'

                const htDiv = document.createElement('div')
                htDiv.append(htDelete)
                htDiv.append(htElement2)

                htDiv.append(htElement)
                
                htForm.append(htDiv)
                htText.value = ''

                const htDeleteHandler = document.querySelectorAll('.htDeleter')
                for(i = 0; i<htDeleteHandler.length; i++) {
                    htDeleteHandler[i].addEventListener('click', (e) => {
                        e.target.parentNode.remove()
                    })
                }
            }
        })

        
        // 엔터 누르면 글 작성이 완료되어버리는 것 방지
        
        const update_frm = document.querySelector('#update_frm')
        update_frm.addEventListener('keydown', (e) => {
            if(e.keyCode === 13) {
                e.preventDefault()
            }
        })
        
        // submit 
        update_frm.addEventListener('submit', async (e) => {
            e.preventDefault()

            const title = update_frm.querySelector('#title')
            const content = update_frm.querySelector('#content')
            const idx = update_frm.querySelector('#idx')

            const hashtagss = document.querySelectorAll('.hashtags')
            let temphash = []

            for (i=0; i<hashtagss.length; i++) {
                temphash.push(hashtagss[i].innerHTML)
            }

            const data = {
                title:title.value,
                content:content.value,
                idx: idx.value,
                temphash
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/update', data, option)
            //
            //

            const formData = new FormData()
            formData.append('category', cate)
            formData.append('idx', idx.value)
            // for ( let i = 1; i<6; i++) {
            //     try {
            //         formData.append(`img`+i, `img`+i.files[0])

            //     }
            //     catch (e) {
            //         formData.append(`img`+i, 'N/A')
            //         console.log('err')
            //         console.log(`img`+i)
            //     }
            // }


            formData.append('img1', img1.files[0] || 'N/B')
            formData.append('img2', img2.files[0])
            formData.append('img3', img3.files[0])
            formData.append('img4', img4.files[0])
            formData.append('img5', img5.files[0])

            const response2 = await axios.post('http://localhost:4000/api/board/cate1/imgUpdate', formData ,option)

            if (response.data.errno === 0 && response2.data.errno === 0 ) {
                alert('글 수정이 완료되었습니다.')
                location.href='/board/cate1'
            }
            else {
                alert('글 수정중 문제가 발생하였습니다.')
            }
        })
    </script>
</body>
</html>