<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    
    <span id="userid">{{userid}}</span><br>

    카테고리 : <span id="category">{{cate1_view.category}}</span><br>
    제목 : <span id="title">{{cate1_view.title}}</span><br/>
    닉네임 : <span id="nickname">{{ cate1_view.nickname }}</span> <br />
    내용 : {{ cate1_view.content }}<br/>
    작성일자 : {{ cate1_view.date }}
    <form method="post" action="http://localhost:4000/api/board/cate1/delete" id="del_frm">
        <input type="hidden" name='idx' value="{{cate1_view.idx}}" id="idx"> 
        <input type="submit" value="글 삭제">
    </form>
    <a href='/board/cate1/update?idx={{cate1_view.idx}}'>수정</a>
    <span id="userimg"><img src="http://localhost:4000/uploads/{userimg}" style="width:100px; height:100px; margin-left:30px;" ></span>
    <br>
    hashtag : 
    {% for item in cate1_hashtag %}
    <span>{{item.hashtag_name}}</span>
    {% endfor %}

    <br>
    <form method="post" action="http://localhost:4000/api/board/cate1/like" id="like">
        <input type="submit" value="좋아요" id="thumb">
    </form>

    <form method="post" action="http://localhost:4000/api/board/cate1/likeCancel" id="likeCancel">
        <input type="submit" value="좋아요 취소" id="thumbCancel">
    </form>


    <br>
    <a href="/board/cate1">글 목록</a>

    <span id="likecount"></span>

    <div>
        <ul id="commentApp">
        </ul>
    </div>
    <!-- 댓글시스템 렌더링하는 div-->

    <template id="commentForm">
        <li class="comment-form">
            <form method="post" action="">
                <h4>댓글쓰기 <span>()</span> </h4>
                <span class="ps_box">
                    <input type="text" placeholder="댓글 내용을 입력해주세요." class="int" value="" name="input">
                </span>
                <input type="submit" class="btn" value="등록" />
            </form>
        </li>
    </template>
    <!-- 댓글 작성 -->

    <template id="commentList">
        <li>
            <ul class="comment-row">
                <li class="comment-id"></li>
                <li class="comment-content">    
                    <input type="hidden" name="idx" value="" />
                    <span class="comment-delete-btn">X</span>
                </li>
                <li class="comment-date"></li>
            </ul>
        </li>
    </template>
    <!-- 댓글 목록 -->

    <template id="commentInput">
        <span>
            <input type="text" class="comment-update-input" value="">
        </span>
    </template>
    <!--댓글 수정 -->

    <script type="text/javascript">
        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }
        const idx = document.querySelector('#idx')
        const userid = document.querySelector('#userid')

        document.addEventListener('DOMContentLoaded', async() => {
            const likeCount = document.querySelector('#likecount')
            const idx = document.querySelector('#idx')

            const data = {
                idx:idx.value
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/likeCount', data, option)
            let [likeNum] = Object.values(response.data.result[0])
            likeCount.innerHTML =likeNum
        })

        // 좋아요 누르기(done)
        const like = document.querySelector('#like')

        like.addEventListener('submit', async (e) => {
            e.preventDefault()

            const idx = document.querySelector('#idx')
            const userid = document.querySelector('#userid')

            const data = {
                userid:userid.innerHTML,
                idx: idx.value
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/like', data ,option)

            if (response.data.errno === 1) {
                alert('좋아요는 한 번만 가능합니다')
            }

            else {
                const likeCount = document.querySelector('#likecount')
                likeCount.innerHTML++
            }
        })

        // 좋아요 취소

        const likeCancel = document.querySelector('#likeCancel')
        likeCancel.addEventListener('submit', async (e) => {
            e.preventDefault()

            const idx = document.querySelector('#idx')
            const userid = document.querySelector('#userid')

            const data = {
                userid:userid.innerHTML,
                idx: idx.value
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/likeCancel', data ,option)

            if (response.data.errno === 2) {
                alert('이 게시글에 좋아요를 누르지 않았습니다.')
            }

            else {
                const likeCount = document.querySelector('#likecount')
                likeCount.innerHTML--
            }
        })
        
        // 글 삭제

        const delForm = document.querySelector('#del_frm')      
        delForm.addEventListener('submit', async (e) => {
            e.preventDefault()

            const idx = delForm.querySelector('#idx')
            const data = {
                idx:idx.value
            }


            const response = await axios.post('http://localhost:4000/api/board/cate1/delete', data, option)
            
            if(response.data.errno === 0 ) {
                alert('글 삭제가 완료되었습니다.')
                location.href='/board/cate1'
            }
            else {
                alert('수행할 수 없는 명령입니다.')
            }
        })

        //
        //

        let state = {}
        state.comment=[]
        state.length=''

        document.addEventListener('DOMContentLoaded', async () => {
            const uri = location.pathname
            const [,,cate,] = location.pathname.split('/')
            const data = {
                idx:idx.value,
                cate:cate,
            }

            const replyResponse = await axios.post('http://localhost:4000/api/board/comment/view', data, option)

            let comment = replyResponse.data.result1 // array
            let length = replyResponse.data.result1.length
            
            state = {
                ...state,
                comment:comment,
                length:length
            }

            const commentApp = document.querySelector('#commentApp')
            const commentForm = document.querySelector('#commentForm')
            const commentList = document.querySelector('#commentList')
            const commentInput = document.querySelector('#commentInput')

            // 가장 아래 commentView() 함수가 있다. 그게 우선 실행된다. = 원래 있는 댓글들을 보여준다.
            // 근데 그 안에 createForm() 이 있고, 그 안에 submitHandler가 있다.
            // 논리 구조 한 번 시발 복잡하네..
        
            function commentView() {
                commentApp.innerHTML = '' // 댓글 zone 초기화
                createForm()

                state.comment.forEach(v => { // 각각의 댓글에 대해 실행
                    const clone = document.importNode(commentList.content, true)
                    // CommentList 템플릿의 내용물을 가져온다
                    const row = clone.querySelectorAll('.comment-row > li')
                    // 그 안에서 li element들을 죄다 선택
                    row[0].innerHTML = v.userid
                    // 첫 번째 list는 userid 입력
                    row[1].querySelector('input').value = v.idx
                    // 두 번째 li는 idx 입력
                    
                    if ( v.updateFlag == 'true') {
                        const spanElement = document.createElement('span')
                        spanElement.innerHTML = v.content
                        // span element를 만들어 댓글 내용을 넣는다.
                        const deleteBtn = row[1].querySelector('.comment-delete-btn')
                        // 'X' 가 있는 span 선택 
                        spanElement.addEventListener('click',updateHandler)
                        // 댓글을 클릭하면 수정 함수 실행 되게 addEventListener
                        deleteBtn.addEventListener('click',deleteHandler)
                        // 'X' 클릭시 삭제 함수 실행
                        row[1].prepend(spanElement)
                        // prepend는 append와 동일하지만 가장 앞에 요소가 추가됨
                    } 
                    else {
                        const clone = document.importNode(commentInput.content,true)
                        clone.querySelector('input').value = v.content
                        clone.querySelector('input').addEventListener('keypress',updateSubmitHandler)
                        row[1].prepend(clone)
                    }

                    row[2].innerHTML = v.date

                    commentApp.appendChild(clone)
                })
            }

            function createForm(){
                const clone = document.importNode(commentForm.content, true) // commentForm 안에 있는 요소들을 그냥 가져온거임.
                const form = clone.querySelector('form') // 그중 form을 선택
                const counting = form.querySelector('h4 > span') // 빈 괄호 말하는거
                counting.innerHTML = `(${state.comment.length})` // 그 빈 괄호에 댓글 갯수를 넣는다.

                form.addEventListener('submit',submitHandler)
                commentApp.append(clone) // 댓글 area에 clone을 통합
            }
            // 댓글 쓰는 모듈

            async function submitHandler (e){
                e.preventDefault()
                const { input } = e.target // 댓글 내용을 입력해주세요 하는 그 input

                const counting = e.target.querySelector('h4 > span')
                // 빈 괄호 > createForm이 실행된 후엔 댓글의 갯수가 채워짐
                const length = state.length
                const cidx = length != 0 ? parseInt(state.length + 1 ) : 1 
                // length가 0 이 아니면 두 번째 항, 0이면 세번째 항을 value로 가짐
                // idx는 댓글이 현재 글의 몇 번째 댓글인지를 알려준다. 
                // 그래서 지금까지 단 댓글 수를 먼저 계산하는게 2번째 항이고, 
                // 없으면 세번째항의 value인 1을 가지는것.
                
                const result = {idx,userid:'{{userid}}', content:input.value, date: new Date(), updateFlag:'true'}
                // 대충 저 state.replay 처럼 포맷 만들어준다.
                state = {
                    ...state,
                    comment:[
                        ...state.comment,
                        result
                    ],
                    length:replyResponse.data.result1.length + 1
                }
                // state 변수를 업데이트 해준다. 방금 쓴 댓글을 추가하고, length 값을 1 더한다.

                const nickname = document.querySelector('#nickname')
                const content = input.value
                const userid = document.querySelector('#userid')
                
                const data = {
                    cate: cate,
                    idx: idx.value,
                    content: content,
                    nickname:nickname.innerHTML,
                    userid:userid.innerHTML
                }
                
                const replyAdd = await axios.post('http://localhost:4000/api/board/comment/add', data, option)
                console.log(replyAdd.data.insertId)
                 

                // row[1].querySelector('input').value = replyAdd.data.insertId.value // !!!!!!!!!!!!!!!!!!!!!!!!
                input.value = '' // 댓글 등록하면 form은 다시 빈 칸이 된다.
                counting.innerHTML = `(${state.length})` // 화면에 렌더링되는 댓글 수도 업데이트 해준다.
                

                commentView()

                const comments = commentApp.querySelectorAll('li')
                const newComment = comments[comments.length-2]
                console.log(newComment)
                const newCommentInput = newComment.querySelector('input')
                newCommentInput.value = replyAdd.data.insertId
                console.log(state)
            }

            //

            function updateHandler(e){
                const idx = parseInt( e.target.parentNode.querySelector('input').value )
                const newReply = [...state.comment]
                let index 

                for (let i =0; i < newReply.length; i++){
                    if (newReply[i].idx === idx){
                        index = i
                    }
                }

                console.log(index)

                newReply[index].updateFlag = 'false'
                console.log(idx,newReply)
                state = {
                    ...state,
                    replay:newReply
                }

                commentView()
            }

            async function updateSubmitHandler(e){
                
                if(e.keyCode === 13) {
                    
                    const idx = parseInt( e.target.parentNode.parentNode.querySelector('input[type=hidden]').value )
                    console.log(e.target.parentNode.querySelector('input').value)
                    // 댓글 테이블의 pk인 idx 의미
                    const content = e.target.parentNode.querySelector('input').value
                    const data = { 
                        idx:idx,
                        content: content
                    }
                    const updateReply = await axios.post('http://localhost:4000/api/board/comment/update', data, option)

                    const newReplay = [...state.replay]
                    console.log(newReplay)
                    let index 
                    for(let i =0; i < newReplay.length; i++){
                        if(newReplay[i].idx === idx){
                            index = i
                        }
                    }

                    newReplay[index].updateFlag = 'true'
                    newReplay[index].content = e.target.value

                    state = {
                        ...state,
                        comment:newReplay
                    }

                    commentView()
                }
            }

            async function deleteHandler(e){
                const idx = parseInt( e.target.parentNode.querySelector('input').value )
                
                const data = {
                    idx:idx                    
                }
                
                const commentDel = await axios.post('http://localhost:4000/api/board/comment/delete', data ,option)

                const newReply = state.comment.filter(v => v.idx !== idx)
                state = {
                    ...state,
                    comment:newReply,
                    length:newReply.length
                }
                commentView()
            }

            commentView()
        })
    </script>
</body>
</html>