{% extends 'utils/header.html' %}

{% block content %}
<div id="update_wrap">
    <h1 id="upd_h1">update 페이지</h1>
    <span class="hidden_category">{{cate1_update.category}}</span>

    <div id="upd_wrp">

        <form method ='post' action="http://localhost:4000/api/board/cate1/imgUpdate" id="upd_frm">

            <div id="upd_title">
                <h3 id="upd_title_idx"><strong>Title</strong></h3>
                <input type="text" name="title" placeholder="제목입력" id="upd_title_input" value="{{cate1_update.title}}">
            </div>

            <div id='upd_content'>
                <h3><strong>Content</strong></h3>
                <textarea name="content" placeholder="내용입력" id="upd_content_txt" style='resize: vertical;'>{{cate1_update.content}}</textarea>
            </div>


            <input type="hidden" id="idx" name="idx" value="{{cate1_update.idx}}">

            <span id="upd_pic_up"><h3> 사진 업로드 </h3></span>
            <span id="upd_imgZone"></span>


            <div id="ht_frm">
                <div id="upd_hashtag_idx"><h3> # hashtag </h3></div>
                <input id="hashtag" name="hashtag" placeholder="hashtag를 입력해주세요">
                <div id="ht_wrap">
                    {% for item in cate1_hashtag %}
                    <span class="hashwrap">
                    <span class="htDeleter">x</span>
                    <span>#</span>
                    <span class="hashtags">{{item.hashtag_name}}</span>
                    </span>
                    {% endfor %}
                </div>
            </div>
            
            <input type="submit" value="글수정" id="upd_submit">

        </form>

    </div>
</div>        



    <script type="text/javascript">
        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }
        const idx = document.querySelector('#idx').value
        const cate = location.href.split('/')[4]

        // 이미지 수정은 어떻게 하지?
        // 기본적으로 소스 주소를 바꿔줘야 한다.
        document.addEventListener('DOMContentLoaded', async() => {

            const data = {idx:idx, cate:cate}
            const response = await axios.post('http://localhost:4000/api/board/cate1/imgLoad', data, option)

            const upd_imgZone = document.querySelector('#upd_imgZone')
            const { img1, img2, img3, img4 ,img5 } = response.data.result1[0]
            const tempImgArr = [img1, img2, img3, img4, img5]
            const imgArr = []

            for (let i =0; i<tempImgArr.length; i++) {
                if(tempImgArr[i] !== 'N/A') {
                    imgArr.push(tempImgArr[i])
                }
            }
            // 사진 없는 놈은 제거하고 있는 놈만 가져오는 배열 만들기 5-tempImgArr.length


            // img + input = 5 가 되도록 갯수를 맞춰 갯수 생성
            
            for ( let i = 0; i < imgArr.length; i++) {
                
                const imgOriginalSpan = document.createElement('span')
                imgOriginalSpan.setAttribute('class', 'imgContainer')
                const imgSpan = document.createElement('span')
                const imgElement = document.createElement('img')
                imgElement.setAttribute('src', `http://localhost:4000/uploads/${imgArr[i]}`)
                imgElement.setAttribute('id', `origin${i+1}a`)
                imgSpan.setAttribute('class', 'imgLoad')
                imgSpan.prepend(imgElement)
                imgOriginalSpan.append(imgSpan)
                upd_imgZone.append(imgOriginalSpan)
                const dummyInput = document.createElement('input')
                dummyInput.setAttribute('type', 'hidden')
                dummyInput.setAttribute('name', `img${i+1}`)
                dummyInput.setAttribute('id', `img${i+1}`)
                dummyInput.setAttribute('class', `hidden`)
                dummyInput.setAttribute('value', `http://localhost:4000/uploads/${imgArr[i]}`)
                imgSpan.prepend(dummyInput)
                

                const delHandler = document.createElement('span')
                delHandler.innerHTML = 'x'
                delHandler.setAttribute('class', 'imgDelBtn')
                imgSpan.prepend(delHandler)

                delHandler.addEventListener('click', async(e) => {
                    e.target.parentNode.remove()
                    const newImg = document.createElement('input')
                    newImg.setAttribute('type', 'file')
                    newImg.setAttribute('name', `img${i+1}`)
                    newImg.setAttribute('id', `img${i+1}`)
                    inputSpan.prepend(newImg)
                })
            }
            
            const inputSpan = document.createElement('span')
            let upNum = imgArr.length +1
            for ( i = 0; i <5-imgArr.length; i++) {
                
                const inputElement = document.createElement('input')
                inputElement.setAttribute('type', 'file')
                inputElement.setAttribute('name', `img${upNum}`)
                inputElement.setAttribute('id', `img${upNum}`)
                const labelElement = document.createElement('label')
                labelElement.setAttribute('for', `img${upNum}` )
                labelElement.innerHTML = '파일 선택'
                inputSpan.append(inputElement)
                upd_imgZone.append(inputSpan)
                upd_imgZone.append(labelElement)
                upNum++
            }
        })
        
        //
        //

        const htDeleteHandler = document.querySelectorAll('.htDeleter')
            for(i = 0; i<htDeleteHandler.length; i++) {
                htDeleteHandler[i].addEventListener('click', (e) => {
                    e.target.parentNode.remove()
                })
        }
            // enter를 이용해 해시 태그 추가, 삭제
        const htForm = document.querySelector('#ht_frm')
        const htText = document.querySelector('#hashtag')
        const ht_wrap = document.querySelector('#ht_wrap')
        htForm.addEventListener('keydown', (e) => {
            if (e.keyCode === 13 && htText.value !== '') {
                const htDelete = document.createElement('span')
                htDelete.innerHTML = 'x'
                htDelete.setAttribute('class', `htDeleter`)
                
                const htElement = document.createElement('span')
                const htElement2 = document.createElement('span')
                htElement.setAttribute('class', `hashtags`)
                htElement.innerHTML = `${htText.value}`
                htElement2.innerHTML = '#'

                const htDiv = document.createElement('span')
                htDiv.append(htDelete)
                htDiv.append(htElement2)

                htDiv.append(htElement)
                htDiv.setAttribute('class','hashwrap')
                ht_wrap.append(htDiv)
                htText.value = ''

                const htDeleteHandler = document.querySelectorAll('.htDeleter')
                for(i = 0; i<htDeleteHandler.length; i++) {
                    htDeleteHandler[i].addEventListener('click', (e) => {
                        e.target.parentNode.remove()
                    })
                }
            }
        })

        
        // 엔터 누르면 글 작성이 완료되어버리는 것 방지
        
        const update_frm = document.querySelector('#upd_frm')
        upd_frm.addEventListener('keydown', (e) => {
            if(e.keyCode === 13) {
                e.preventDefault()
            }
        })

        const hashtag = document.querySelector('#hashtag')
        hashtag.addEventListener('keydown', (e) => {
            if(e.keyCode === 13) {
                e.preventDefault()
            }
        })

        const upd_submit = document.querySelector('#upd_submit')
        upd_submit.addEventListener('keydown', (e) => {
            if(e.keyCode === 13) {
                e.preventDefault()
            }
        })


        //
        //
        // submit 
        update_frm.addEventListener('submit', async (e) => {
            e.preventDefault()

            const upd_title_input = update_frm.querySelector('#upd_title_input')
            const upd_content_txt = update_frm.querySelector('#upd_content_txt')
            const idx = update_frm.querySelector('#idx')
            const category = document.querySelector('.hidden_category').innerHTML
            const hashtagss = document.querySelectorAll('.hashtags')
            let temphash = []

            for (i=0; i<hashtagss.length; i++) {
                temphash.push(hashtagss[i].innerHTML)
            }

            const data = {
                title:upd_title_input.value,
                content:upd_content_txt.value,
                idx: idx.value,
                temphash,
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/update', data, option)
            //
            //

            const formData = new FormData()
            formData.append('category', category)
            formData.append('idx', idx.value)
            // for ( let i = 1; i<6; i++) {
            //     try {
            //         formData.append(`img`+i, `img`+i.files[0])

            //     }
            //     catch (e) {
            //         formData.append(`img`+i, 'N/A')
            //         console.log('err')
            //         console.log(`img`+i)
            //     }
            // }

            // for ( i = 1; i<6; i++) {
            //     if(`img${i}`.type !== 'file') {
            //         formData.append(`img${i}`, 'N/B')
            //         console.log(`img${i}`.type,'N/B')
            //     }
            //     else {
            //         formData.append(`img${i}`, `img${i}`.files[0])
            //     }
            // }
            const originImg = document.querySelectorAll('.hidden')

            formData.append('originLength', originImg.length)

            // for ( i = 1; i <= originImg.length; i++) {
            //     formData.append(`img${i}`, `origin${i}a`.src)
            // }
            
            // for ( i = 5-originImg.length; i<=5; i++) {
            //     formData.append(`$img${i}`, `img${i}`.files[0])
            // }


            formData.append('img1', img1.value || img1.files[0])
            formData.append('img2', img2.value || img2.files[0])
            formData.append('img3', img3.value || img3.files[0])
            formData.append('img4', img4.value || img4.files[0])
            formData.append('img5', img5.value || img5.files[0])

            const response2 = await axios.post('http://localhost:4000/api/board/cate1/imgUpdate', formData ,option)

            if (response.data.errno === 0 && response2.data.errno === 0 ) {
                alert('글 수정이 완료되었습니다.')
                location.href=`/board/${category}`
            }
            else {
                alert('글 수정중 문제가 발생하였습니다.')
            }
        })
    </script>
{% endblock %}