{% extends 'utils/header.html' %}

{% block content %}

<div id= write_wrap>
    <h1 id="wrt_h1">write 페이지</h1>
    <div id="frm_wrp">
        
        <span id="hidden"> {{ userid }} </span>
        
        <form method="post" action="http://localhost:4000/api/board/cate1/imageUpload" id="write_frm" enctype="multipart/form-data">

            <input type="text" name="nickname" id="nickname" value="{{nickname}}" class="hidden">

            <div id="wrt_cate">

                <h3><strong>Category</strong> </h3>

                <select name="category" id="category" >
                    <option value="" disabled> 카테고리 선택</option>
                    <option value="cate1" id="cate1"selected>자유 게시판</option>
                    <option value="question" id="question">코드 자문 게시판</option>
                    <option value="QnA" id="QnA">Q&A 게시판</option>
                    <option value="request" id="request">청원 게시판</option>
                    <option value="notice" id="notice">공지사항</option>
                </select>

            </div>

            <div id="wrt_title">
                <h3 id="write_title_idx"><strong>Title</strong></h3>
                <input type="text" name="title" placeholder="제목입력" id="wrt_title_input" value="cate1">
            </div>

            <div id="wrt_content">
                <h3><strong>Content</strong></h3>

                <textarea name="content" placeholder="내용입력" id="wrt_content_txt" style='resize: vertical;' ></textarea>
            </div>

            <div id="wrt_pic_zone">
                <span id="pic_up"><h3> 사진 업로드 </h3></span>
                <span>
                    <span><label for="img1">파일 선택</label></span>
                    <input type="file" name="img1" id="img1">
                    <span><label for="img2">파일 선택</label></span>
                    <input type="file" name="img2" id="img2">
                    <span><label for="img3">파일 선택</label></span>
                    <input type="file" name="img3" id="img3">
                    <span><label for="img4">파일 선택</label></span>
                    <input type="file" name="img4" id="img4">
                    <span><label for="img5">파일 선택</label></span>
                    <input type="file" name="img5" id="img5">
                </span>
            </div>

            <br>

            <div id="hashtag_idx"><h3> # hashtag </h3></div>
            <div id="ht_frm">
                <input id="hashtag" name="hashtag" placeholder="hashtag를 입력해주세요">
                <div id="ht_wrap"></div>
            </div>

            <input type="submit" value="글작성" id="wrt_submit">

        </form>
    </div>
</div>
    <style>
        #hidden {
            display:none;
        }
    </style>
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', () => {
            let hiddenSpan = document.querySelector('#hidden')
            let nickInput = document.querySelector('#nickname')
            const categoryElement = document.querySelector('#category') //셀렉트박스
            const category = location.href.split('/')[5].replace('write?category=','')
            const cate1 = document.querySelector('#cate1')
            const question = document.querySelector('#question')
            const QnA = document.querySelector('#QnA')
            const request = document.querySelector('#request')
            nickInput.disabled= true
            hiddenSpan.disabled = true

            if(category == "QnA"){
                QnA.selected = true
            } else if(category == "request"){
                request.selected = true
            } else if(category == "question"){
                question.selected = true                }

            const notice = document.querySelector('#notice')
            if("{{userlevel}}" != 3) {
                notice.remove()
            }
        })


        const htForm = document.querySelector('#ht_frm')
        const htText = document.querySelector('#hashtag')
        const category = document.querySelector('#category')
        
        // enter를 이용해 해시 태그 추가, 삭제
        htForm.addEventListener('keydown', (e) => {
            if (e.keyCode === 13) {
                e.preventDefault()
                const htWrap = document.querySelector('#ht_wrap')
                const htDelete = document.createElement('span')
                htDelete.innerHTML = 'x'
                htDelete.setAttribute('class', `htDeleter`)
                
                const htElement = document.createElement('span')
                const htElement2 = document.createElement('span')
                htElement.setAttribute('class', `hashtags`)
                htElement2.setAttribute('class', `hashtagsform`)
                htElement2.innerHTML='#'
                htElement.innerHTML = `${htText.value}`

                const htDiv = document.createElement('span')
                htDiv.setAttribute('class', 'htDiv')
                htDiv.append(htDelete)
                htDiv.append(htElement2)
                htDiv.append(htElement)
                
                htWrap.append(htDiv)
                
                htText.value = ''

                const htDeleteHandler = document.querySelectorAll('.htDeleter')
                for(i = 0; i<htDeleteHandler.length; i++) {
                    htDeleteHandler[i].addEventListener('click', (e) => {
                        e.target.parentNode.remove()
                    })
                }
            }
        })
        
        // 엔터 누르면 글 작성이 완료되어버리는 것 방지
        const wrt_submit = document.querySelector('#wrt_submit')
        wrt_submit.addEventListener('keydown', (e) => {
            if(e.keyCode === 13) {
                e.preventDefault()
            }
        })

        const hashtag = document.querySelector('#hashtag')
        hashtag.addEventListener('keydown', (e) => {
            if(e.keyCode === 13) {
                e.preventDefault()
            }
        })


        //
        //

        // submit시 백엔드로 요청 전송
        write_frm.addEventListener('submit', async(e) => {
            e.preventDefault()

            const option = {
                'Content-type':'application/json',
                withCredentials:true
            }

            const userid = document.querySelector('#hidden')
            const nickname = document.querySelector('#nickname')
            const title = document.querySelector('#wrt_title_input')
            const content = document.querySelector('#wrt_content_txt')
            const hashtagss = document.querySelectorAll('.hashtags')

            let temphash = []

            for (i=0; i<hashtagss.length; i++) {
                temphash.push(hashtagss[i].innerHTML)
            }

            const formData = new FormData()
            formData.append('category', document.querySelector('#category').value)
            formData.append('img1', img1.files[0])
            formData.append('img2', img2.files[0])
            formData.append('img3', img3.files[0])
            formData.append('img4', img4.files[0])
            formData.append('img5', img5.files[0])

            const data = { 
                userid : userid.innerHTML,
                category: category.value,
                nickname:nickname.value,
                title : title.value,
                content : content.value,
                temphash
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/write', data, option)

            // console.log(response.data.insertId)

            formData.append('midx', response.data.insertId)


            const responseImgup = await axios.post('http://localhost:4000/api/board/cate1/imageUpload', formData, option)
            // console.log(responseImgup)

            if (response.data.errno === 0) {
                alert('글 작성이 완료되었습니다.')
                location.href=`/board/${category.value}`
            }
            else {
                alert('글 작성중 문제가 발생하였습니다.')
            }
        })
    </script>
{% endblock %}