<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    {% for item in cate1_view %}
    <span id="userid">{{userid}}</span><br>

    카테고리 : <span id="category">{{item.category}}</span><br>
    제목 : <span id="title">{{item.title}}</span><br/>
    닉네임 : <span>{{ item.nickname }}</span> <br />
    내용 : {{ item.content }}<br/>
    작성일자 : {{ item.date }}
    <form method="post" action="http://localhost:4000/api/board/cate1/delete" id="del_frm">
        <input type="hidden" name='idx' value="{{item.idx}}" id="idx"> 
        <input type="submit" value="글 삭제">
    </form>
    <a href='/board/cate1/update?idx={{item.idx}}'>수정</a>
    {% endfor %}

    <br>
    <form method="post" action="http://localhost:4000/api/board/cate1/like" id="like">
        <input type="submit" value="좋아요" id="thumb">
    </form>

    <br>
    <a href="/board/cate1">글 목록</a>

    <span id="likecount"></span>

    <div>
        <ul id="commentApp">
        </ul>
    </div>

    <template id="commentForm">
        <li class="comment-form">
            <form method="post" action="">
                <h4>댓글쓰기 <span>()</span></h4>
                <span class="ps_box">
                    <input type="text" placeholder="댓글 내용을 입력해주세요." class="int" value="" name="input">
                </span>
                <input type="submit" class="btn" value="등록" />
            </form>
        </li>
    </template>

    <template id="commentList">
        <li>
            <ul class="comment-row">
                <li class="comment-id"></li>
                <li class="comment-content">
                    
                    <input type="hidden" name="idx" value="" />
                    <span class="comment-delete-btn">X</span>
                </li>
                <li class="comment-date"></li>
            </ul>
        </li>
    </template>

    <template id="commentInput">
        <span>
            <input type="text" class="comment-update-input" value="">
        </span>
    </template>

    <script type="text/javascript">
        const option = {
            'Content-type':'application/json',
            withCredentials:true
        }

        document.addEventListener('DOMContentLoaded', async() => {
            const likeCount = document.querySelector('#likecount')
            const idx = document.querySelector('#idx')

            const data = {
                idx:idx.value
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/likeCount', data, option)
            let [likeNum] = Object.values(response.data.result[0])
            likeCount.innerHTML =likeNum
        })

        // 좋아요 누르기
        const idx = document.querySelector('#idx')
        const userid = document.querySelector('#userid')


        const like = document.querySelector('#like')

        like.addEventListener('submit', async (e) => {
            e.preventDefault()

            const idx = document.querySelector('#idx')
            const userid = document.querySelector('#userid')

            const data = {
                userid:userid.innerHTML,
                idx: idx.value
            }

            const response = await axios.post('http://localhost:4000/api/board/cate1/like', data ,option)

            const likeCount = document.querySelector('#likecount')
            likeCount.innerHTML++
        })

        const delForm = document.querySelector('#del_frm')
        
        // 글 삭제

        delForm.addEventListener('submit', async (e) => {
            e.preventDefault()

            const idx = delForm.querySelector('#idx')
            const data = {
                idx:idx.value
            }


            const response = await axios.post('http://localhost:4000/api/board/cate1/delete', data, option)
            
            if(response.data.errno === 0 ) {
                alert('글 삭제가 완료되었습니다.')
                location.href='/board/cate1'
            }
            else {
                alert('수행할 수 없는 명령입니다.')
            }
        })

        //
        //

        let state = {
            replay:[
                {idx:1,userid:'web7722',content:'안녕하세요1',date:`${ new Date() }`,updateFlag:true},
                {idx:2,userid:'web7722',content:'안녕하세요2',date:'2022-03-18',updateFlag:true},
                {idx:3,userid:'web7722',content:'안녕하세요3',date:'2022-03-18',updateFlag:true},
                {idx:4,userid:'web7722',content:'안녕하세요4',date:'2022-03-18',updateFlag:true},
            ],
            value:'',
            length:4,
        }

        const commentApp = document.querySelector('#commentApp')
        const commentForm = document.querySelector('#commentForm')
        const commentList = document.querySelector('#commentList')
        const commentInput = document.querySelector('#commentInput')

        // 가장 아라 commentView() 함수가 있다. 그게 우선 실행된다.
        // 근데 그 안에 createForm() 이 있고, 그 안에 submitHandler가 있다.
        // 논리 구조 한 번 시발 복잡하네..
        
        function commentView(){
            commentApp.innerHTML = ''
            createForm()

            state.replay.forEach(v => { // 각각의 댓글에 대해 실행
                const clone = document.importNode(commentList.content, true)
                const row = clone.querySelectorAll('.comment-row > li')
                row[0].innerHTML = v.userid
                row[1].querySelector('input').value = v.idx

                if ( v.updateFlag === true) {
                    const spanElement = document.createElement('span')
                    spanElement.innerHTML = v.content
                    const deleteBtn = row[1].querySelector('.comment-delete-btn')
                    spanElement.addEventListener('click',updateHandler)
                    deleteBtn.addEventListener('click',deleteHandler)
                    row[1].prepend(spanElement)
                } else {
                    const clone = document.importNode(commentInput.content,true)
                    clone.querySelector('input').value = v.content
                    clone.querySelector('input').addEventListener('keypress',updateSubmitHandler)
                    row[1].prepend(clone)
                }

                row[2].innerHTML = v.date

                commentApp.appendChild(clone)
            })
        }

        function createForm(){
            const clone = document.importNode(commentForm.content, true) // commentForm 안에 있는 요소들을 그냥 가져온거임.
            const form = clone.querySelector('form') // 그중 form을 선택

            const counting = form.querySelector('h4 > span') // 빈 괄호 말하는거
            counting.innerHTML = `(${state.length})` // 그 빈 괄호에 댓글 갯수를 넣는다.

            form.addEventListener('submit',submitHandler)
            commentApp.append(clone) // 댓글 area에 clone을 통합
        }

        function submitHandler(e){
            e.preventDefault()
            const { input } = e.target // form 에서 니가 싼 댓글 내용을 담은 input만 가져옴
            const { replay:{ length } } = state // 그때까지 달려있던 댓글의 갯수
            const counting = e.target.querySelector('h4 > span') // 빈 괄호 > createForm이 실행된 후엔 댓글의 갯수가 채워짐
            
            // 삼항연산자
            const idx = length != 0 ? parseInt( state.replay[length-1].idx + 1 ) : 1 // length가 0 이면 1, 아니면 두 번째 항을 value로 가짐
            // idx는 댓글이 몇 번째 댓글인지를 알려준다. 그래서 지금까지 단 댓글 수를 먼저 계산하는게 2번째, 없으면 1번째 댓이 되는 것.
            const result = {idx,userid:'web7722',content:input.value,date:'2022-03-18',updateFlag:true}
            // 대충 저 state.replay 처럼 포맷 만들어준다.
            state = {
                ...state,
                replay:[
                    ...state.replay,
                    result
                ],
                length:state.replay.length + 1
            }
            // state 변수를 업데이트 해준다. 방금 쓴 댓글을 추가하고, length 값을 1 더한다.


            input.value = '' // 댓글 등록하면 form은 다시 빈 칸이 된다.
            counting.innerHTML = `(${state.length})` // 화면에 렌더링되는 댓글 수도 업데이트 해준다.
            console.log(state)

            commentView()
        }

        //

        function updateHandler(e){
            const idx = parseInt( e.target.parentNode.querySelector('input').value )
            const newReply = [...state.replay]
            let index 
            for(let i =0; i < newReply.length; i++){
                if(newReply[i].idx === idx){
                    index = i
                }
            }

            console.log(index)

            newReply[index].updateFlag = false
            console.log(idx,newReply)
            state = {
                ...state,
                replay:newReply
            }

            commentView()
        }

        function updateSubmitHandler(e){
            
            if(e.keyCode === 13){
                
                const idx = parseInt( e.target.parentNode.parentNode.querySelector('input[type=hidden]').value )
                const newReplay = [...state.replay]

                let index 
                for(let i =0; i < newReplay.length; i++){
                    if(newReplay[i].idx === idx){
                        index = i
                    }
                }

                newReplay[index].updateFlag = true
                newReplay[index].content = e.target.value

                state = {
                    ...state,
                    replay:newReplay
                }

                commentView()
            }
        }

        function deleteHandler(e){
            const idx = parseInt( e.target.parentNode.querySelector('input').value )
            // DB 요청 
            // let newReply = []
            // for(let i=0; i<state.replay.length; i++){
            //     if(state.replay[i].idx !== idx){
            //         newReply.push(state.replay[i])
            //     }
            // }
            const newReply = state.replay.filter(v => v.idx !== idx)
            state = {
                ...state,
                replay:newReply,
                length:newReply.length
            }

            commentView()
        }

        commentView()
    </script>
</body>
</html>