<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded',async()=>{
            const frm_duo = document.querySelector('#frm_duo') //form
            const lol_nickname = document.querySelector('#lol_nickname') //닉네임입력
            const register_btn = document.querySelector('#register_btn') //닉네임 저장 버튼
            const duo_search = document.querySelector('#duo_search') //검색
            const vaild = /^[가-힣a-zA-Z0-9\s]+$/
            //한글, 영문, 띄어쓰기만
            const option = { 
            'Content-type':'application/json',
            withCredentials:true,
            }  
            frm_duo.addEventListener('submit',async (e)=>{
                e.preventDefault()
                console.log(vaild.test(lol_nickname.value))

                if(lol_nickname.value == "" || !vaild.test(lol_nickname.value)){
                    alert('제대로 된 닉네임을 입력해주세요.')
                }else{
                    const data = {
                        lol_nickname:lol_nickname.value
                    }
                        console.log(data.lol_nickname)

                    const response = await axios.post('http://localhost:4000/api/matching/duo', data, option)
                    console.log(response.data.result)
                    if(response.data.result =="success"){
                        alert('닉네임이 정상적으로 등록되었습니다. 아래 듀오 찾기 버튼을 눌러주세요.')
                    } else if(response.data.result =="failure"){
                        alert('닉네임을 입력해주세요.')
                    } else if(response.data.result == 1062){
                        alert('등록 완료 된 닉네임입니다.')
                    }
                    
                }
                    
            })
            duo_search.addEventListener('click', async (e)=>{
                e.preventDefault()
                duo_search.value = "로딩 중"
                duo_search.disabled = true
                const response = await axios.post('http://localhost:4000/api/matching/duosearch', null, option)

                const {myuserid} = response.data
                const lol_userlist = response.data.result
                // console.log(lol_userlist)
                // const response2 = await axios.post('http://localhost:4000/api/matching/crolling'), 
                

            })



        })
    </script>
</head>
<body>
    <form method="post" id="frm_duo">
        <h1>League of Legends</h1>
        <strong>닉네임</strong>
        <input type="text" placeholder="정확하게 입력해주세요." id="lol_nickname">
        <input type="submit" value="닉네임 등록하기" id="register_btn">
    </form>

    <button id="duo_search">듀오 찾기</button> 

    
</body>
</html>