<div id="hamberger">
    <input type="checkbox" id="icon">
    <label for="icon">  <!--label은 인라인 스타일-->
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div id="menu">
        <ul>
            <li><a href="#">Introdue</a></li>
            <li><a href="#">Enjoy it!</a></li>
            <li><a href="#">Board</a></li>
            <li><a href="#">This month</a></li>
        </ul>
    </div>
</div>
</div>
<div id="main_pic">
    <h3 id="main_txt">
        <span class="start">ONLY FOR</span>
        <br>
        KYUNGIL STUDENTS
        <span class="line"></span>
        <br>
        <span class="msg">ENJOY IT !</span>

    </h3>
    <div id="pic_box">
        <div>
            <img src="http://localhost:3000/blockchain.jpeg">
        </div>
        <div>
            <img src="http://localhost:3000/programming.jpg">
        </div>
        <div>
            <img src="http://localhost:3000/planning.jpg">
        </div>
        <div>
            <img src="http://localhost:3000/artworks.jpg">
        </div>
    </div>
</div>
